<div class="page-content-wrapper ">
	<div class="content sm-gutter">
		<div class="container-fluid padding-25 sm-padding-10 sm-gutter bill-dash">
			<div class="row">
				<div class="col-md-12 col-xlg-12">
					<div class="commen-heading dashboard-page">
						<h2 class="oprate-dashbord">Investor Dashboard</h2>
						<div class="label_select_box"> 
							<div class="input-cal-block">
								<div class="input-prepend input-group">
									<span class="add-on input-group-addon">
										<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
									</span>
								   <input date-range-picker placeholder="Select date range" id="billDash"  class="form-control date-picker customDateRange" type="text" options="investor.opts" ng-model="investor.dateRangeSelector" />
								</div>
							</div>
							<div class="dashbord-select-dropdown th-select">
								<ui-select class="mdrivers" ng-model="investor.vehicle.selected" theme="bootstrap" on-select="investor.vehicleChangeCallBack($item, $model);" required>
									<ui-select-match class="ui-select-match" placeholder="Select Vehcile">{{ $select.selected.vehicleName}}    </ui-select-match>
									<ui-select-choices class="ui-select-choices" repeat="item in investor.vehicleList">
										<span ng-bind-html="trustAsHtml((item.vehicleName | highlight: $select.search))"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
		            </div>
		        </div>
		    </div>
		    <div class="row">
		    	<div class="col-md-4 col-xlg-4">
             		<div class="box-move-able m-b-20">
	             		<div class="row">
			                <div class="col-md-12 m-b-10">
			                    <!-- START WIDGET -->
			                    <div class="widget-8 last_week_sale half-height-block panel no-border bg-success no-margin widget-loader-bar" pg-portlet progress="bar" on-refresh="investor.refreshPortlets('.last_week_sale','last_week_sale')">
			                        <div class="container-xs-height full-height">
			                            <div class="row-xs-height">
			                                <div class="col-xs-height col-top">
			                                    <div class="panel-heading top-left top-right">
			                                        <div class="panel-controls">
			                                            <ul>
			                                                <li>
			                                                    <a data-toggle="refresh" class="portlet-refresh text-white"><i class="portlet-icon portlet-icon-refresh text-white"></i></a>
			                                                </li>
			                                            </ul>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row-xs-height ">
			                                <div class="col-xs-height col-top relative">
			                                    <div class="row">
			                                        <div class="col-sm-6">
			                                            <div class="p-l-20">
			                                            	<div class="block-dash-content1">
						                                        <h1 class="font-montserrat fs-16  	text-white semi-bold p-b-15 no-margin semi-bold">{{investor.saleCaption}}</h1>
				                                                <h3 ng-click="investor.goForDetails('last_week_sale','billings')" class="cursor no-margin p-b-5 text-white p-b-20 ng-binding">{{investor.lastWeek.sale | currency: '$' : 2}}</h3>
				                                                <!-- <span class="font-montserrat fs-16   text-white  text-white small semi-bold ng-binding">25% of Goal</span> -->
				                                            </div>
			                                            </div>
			                                        </div>
			                                        <div class="col-sm-6">
			                                        </div>
			                                    </div>
			                                    <nvd3 options='widget_8_options' class="widget-8-chart line-chart" data='widget_8_data' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2"></nvd3>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <!-- END WIDGET -->
			                </div>
			            </div>
			            <div class="row">
			                <div class="col-md-12 m-b-10">
			                    <!-- START WIDGET -->
			                    <div class="widget-9 half-height-block panel no-border bg-primary no-margin widget-loader-bar" pg-portlet progress="bar" on-refresh="investor.refreshPortlets('.widget-9', 'week_till_today_sale')">
			                        <div class="container-xs-height full-height">
			                            <div class="row-xs-height">
			                                <div class="col-xs-height col-top">
			                                    <div class="panel-heading  top-left top-right">
			                                        <div class="panel-controls">
			                                            <ul>
			                                                <li><a class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh text-white"></i></a>
			                                                </li>
			                                            </ul>
			                                        </div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="row-xs-height">
			                                <div class="col-xs-height col-top">
			                                    <div class="p-l-20 p-r-20 p-t-15">
			                                    	<div class="block-dash-content1">
				                                        <h1 class="font-montserrat fs-16 text-right	text-white semi-bold p-b-15 no-margin semi-bold">This Week
				                                                    </h1>
		                                                <h3 ng-click="investor.goForDetails('this_week_sale','billings')" class=" cursor no-margin p-b-5 text-white text-right p-b-20 ng-binding">{{investor.thisWeek.sale | currency : "$" : 2}}</h3>
		                                                <!-- <span  class="font-montserrat fs-16 text-right   text-white  text-white small semi-bold ng-binding">15% week's target </span> -->
		                                            </div>
			                                    </div>
			                                </div>
			                            </div>
			                           <!--  <div class="row-xs-height">
			                                <div class="col-xs-height col-bottom">
			                                    <div class="progress progress-small m-b-20">
			                                        <div class="progress-bar progress-bar-white" style="width:15%"></div>
			                                    </div>
			                                </div>
			                            </div> -->
			                        </div>
			                    </div>
			                    <!-- END WIDGET -->
			                </div>
			            </div>
			         </div>
             	</div>
             	<div class="col-md-8 col-xlg-8">
			    	<div class="panel panel-default green-border wpanel trucks_location widget-loader-circle-lg" pg-portlet progress="circle-lg" overlay-color='0,0,0' overlay-opacity="0.6" on-refresh="investor.refreshPortlets('.trucks_location','trucks_location')">
	                    <div class="panel-heading">
	                        <div class="panel-title">{{ languageArray.trucklocation }}</div>
	                        <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-refresh" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh text-black"></i></a>
                                    </li>
                                </ul>
                            </div>
	                    </div>
	                    <div class="panel-body no-padding">
	                        <div class="row  no-margin">
								<div class="col-xlg-12 col-md-12 no-padding">
									<div class=" text-center">
										<div style="height: 400px" id="live-trucks-map"></div>
									</div>
								</div>     	
							</div>
	                    </div><!-- panel-body -->
	                </div>
		    	</div>
		    </div>
		    <div class="row ">
               	<div class="col-sm-4 p-l-0 stats-2">
                    <div class="ar-1-1">
                        <!-- START WIDGET -->
                        <div class="widget-2 vwd panel no-border bg-primary widget widget-loader-circle-lg no-margin" pg-portlet progress="circle-lg" overlay-color='0,0,0' overlay-opacity="0.6" on-refresh="investor.refreshPortlets('.vwd','vechiles_without_driver')">
                            <div class="panel-heading dwithout-t">
                                <div class="panel-controls">
                                    <ul>
                                        <li><a class="portlet-refresh" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh text-white"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="  top-left bottom-right padding-25 p-t-50">
                                    <span class="number" ng-click="investor.goForDetails('trucksWithoutDriver', 'truckInsights')">{{ investor.vehiclesWithoutDriver }}</span>
                                    <br>
                                    <h3 class="text-white ltext">Trucks without driver</h3>
                                    <!-- <p class="text-white hint-text hidden-md">Learn More at Project Pages</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- END WIDGET -->
                    </div>
                </div>
                <div class="col-xlg-8 col-md-8">
                	<div class="panel panel-default rss-feeds bg-danger widget-loader-circle-lg"  pg-portlet progress="circle-lg" overlay-color='0,0,0' overlay-opacity="0.6" on-refresh="investor.refreshPortlets('.rss-feeds','rss_feeds')">
                        <div class="panel-heading">
                            <div class="panel-title color-fff">News Feed</div>
                            <div class="panel-controls">
                                <ul>
                                    <li><a class="portlet-refresh" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh text-black"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="row no-margin">
					          	<div class="col-xlg-12 col-md-12 no-padding">
					          		<div class="rss-outer-main">
					          			<!-- START WIDGET -->
				                        <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay="3000" ui-jq="liveTile">
				                            <div class="rss-ul-outer slide-front tiles slide active">
				                                <ul>
						          					<li class="slide-front tiles slide active" ng-repeat="feed in investor.rssFeeds[0]">
						          						<h6><a href="{{feed.link}}"  class="feed-link" target="_target"> {{feed.title}} </a> </h6>
						          						<span>{{feed.pubDate}} </span>
						          					</li>
						          				</ul>
				                            </div>
				                            <div class="rss-ul-outer slide-back tiles">
				                                <ul>
						          					<li class="slide-front tiles slide active" ng-repeat="feed in investor.rssFeeds[1]">
						          						<h6><a href="{{feed.link}}"  class="feed-link" target="_target"> {{feed.title}} </a></h6>
						          						<span>{{feed.pubDate}} </span>
						          					</li>
						          				</ul>
				                            </div>
				                        </div>
				                        <!-- END WIDGET -->
					          		</div>
				          		</div>
				          	</div>
                        </div><!-- panel-body -->
	                </div>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-12 col-xlg-12">
             		<!-- START WIDGET -->
             		<div class="box-shadow-able m-b-20">
		                <div class="widget-11 vehicles-jobs panel no-border  no-margin widget-loader-bar" pg-portlet progress="bar" on-refresh="investor.refreshPortlets('.vehicles-jobs','vehicles_jobs')">
		                    <div class="panel-heading heading-tb-moveablepl">
		                        <div class="panel-title font-montserrat bold">Vehicles Jobs</div>
		                        <div class="panel-controls">
		                            <ul>
		                                <li>
		                                	<a data-toggle="refresh" class="portlet-refresh text-black" href="">
		                                		<i class="portlet-icon portlet-icon-refresh"></i>
		                                	</a>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                    <div class="widget-11-table1 auto-overflow  p-l-20 p-r-20" >
		                        <table datatable="ng" dt-options="dtOptions"  class="table  table-condensed table-hover table-striped my-table-move my-table-pl" >
		                        	<thead>
		                        		<tr>
		                        			<th>Date</th>
		                        			<th>Load  #</th>
		                        			<th>Truck #</th>
		                        			<th>Customer Name</th>
		                        			<th>Date P/U</th>
		                        			<th>Pickup</th>
		                        			<th>Date Del</th>
		                        			<th>Delivery</th>
		                        			<th>Mile</th>
		                        			<th>Dead Mile</th>
		                        			<th>Rate / Mile</th>
		                        			<th>Invoice</th>
		                        			<th>Charges</th>
		                        			<th>Profit</th>
		                        			<th>% Profit</th>
		                        			
		                        		</tr>
		                        		
		                        	</thead>
		                            <tbody>
		                                <tr class="cursor" ng-click="clickMatchLoadDetail(0, record.id, '', '', '', '', 0, '')"  ng-repeat="record in investor.vehiclesJobs">
			                                <td><span class="font-montserrat fs-18">   {{record.created}}</span></td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.id}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.label}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.companyName}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.PickupDate}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.origin }}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.DeliveryDate}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.destination}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.Mileage}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.deadmiles}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.rpm | currency : "$" : 2}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.PaymentAmount | currency : "$" : 2}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.totalCost | currency : "$" : 2}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.overallTotalProfit | currency : "$" : 2}}</td>
		                                    <td class="font-montserrat all-caps fs-12">{{record.overallTotalProfitPercent }}</td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </div>
		                </div>
		             </div>
		                <!-- END WIDGET -->
             	</div>
            </div>
		</div>
	</div>
</div>
<ng-include src="'./assets/templates/truckstop/modals.html'"></ng-include>