      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
          <!-- START CONTAINER FLUID -->
			<div class="container-fluid padding-25 sm-padding-10">
				<canvas id="viewport" style="display: none;"></canvas>
			   <div ng-show="alertdeletemsg == true" class="alert alert-success" role="alert">
					<button ng-click = "hideloadmessage()" class="close"></button>
					{{Message}}
				</div>
				<div class="col-middle loader-outer" ng-show="autoFetchLoads == true">
					<!-- START PANEL -->
					<div class="loader-inner">
					<div class="full-height">
						<div class="panel-body text-center">
							<img class="image-responsive-height demo-mw-50" src="assets/img/demo/progress.svg" alt="Progress">
						</div>
					</div>
					</div>
					<!-- END PANEL -->
                </div>
				<div class="row">
					<div class="col-md-12 col-xlg-12">
						<div class="commen-heading assigned-load-page">
							<h2 class="oprate-dashbord">Loads ({{tableTitle[0]}}) 
								<span ng-show="!showCalendar" class="small">{{filterArgs.fromDate}}</span>
							</h2>
							<div class="label_select_box" ng-show="showCalendar"> 
								<div class="input-cal-block">
									<div class="input-prepend input-group">
										<span class="add-on input-group-addon">
											<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
										</span>
									   <input date-range-picker id="myLoadsDRPicker" placeholder="Select date range" ng-change="selectDateRange(dateRangeSelector)" options="opts" class="form-control date-picker customDateRange" type="text" ng-model="dateRangeSelector" />

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			<div class="row invocie-block-row">
				<div class="col-md-12 col-xlg-12">
					<div class="load-new-block-table">
						<div class="panel-body add-new-data">
							<div class="load-tabe-auto job-list truckstopJobs map-load-section">
								<div class="loadtable">
									<div class="export-options-container"></div>
									<div class="srpSearchDiv searchinput search-list-fix">
										<div class="srpSearch1">
											<label for="search" class="ng-binding">Search</label>
											<input type="search" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" class="form-control" ng-model="searchFilter" ng-change="callSearchFilter(searchFilter);" />
										</div>
									</div>
									<div class="pull-right">
										<a href="" class="add-new-data-button" ng-click="exportLoadData()">
		  									<button title="Export" class="btn btn-primary btn-cons m-b-10" type="button">
		  										<i class="fa fa-file-excel-o"></i> 
		  										<span class="bold">Export</span>
		  									</button>
		      							</a>
										</div>

									<div class="table-structure-main-block tb-my">
										<div class="table-res-1">
											<div class="table-row-main1 tb-head">
												
												<div class="tb-cell ld-id stype" ng-click="sortCustom('id', idSortType)"> 
													<span class="lode-arrow {{idSortType}}">{{ languageArray.popupLoadId }}</span>
												</div>
												
												<div class="tb-cell ph"> 
													{{ languageCommonVariables.commonTableThPhone }}
												</div>

												<div class="tb-cell trlr stype" ng-click="sortCustom('equipment_options', equipment_optionsSortType)" > 
													<span class="lode-arrow {{equipment_optionsSortType}}">{{ languageArray.trlrLoadTableThHeading }}</span>
												</div>

												<div class="tb-cell fl stype" ng-click="sortCustom('LoadType', LoadTypeSortType)"> 
													<span class="lode-arrow {{LoadTypeSortType}}">{{ languageArray.planthfl }}</span>
												</div>

												<div class="tb-cell pickup stype" ng-click="sortCustom('PickupDate', PickupDateSortType)"> 
													<span class="lode-arrow {{PickupDateSortType}}">{{ languageArray.planthpickup }}</span>
												</div>

												<div class="tb-cell delivery stype" ng-click="sortCustom('DeliveryDate', DeliveryDateSortType)"> 
													<span class="lode-arrow {{DeliveryDateSortType}}">{{ languageArray.popupdelivery }}</span>
												</div>

												<div class="tb-cell Origin stype" ng-click="sortCustom('OriginCity', OriginCitySortType)"> 
													<span class="lode-arrow {{OriginCitySortType}}">{{ languageCommonVariables.origin }}</span>
												</div>

												<div class="tb-cell st stype" ng-click="sortCustom('OriginState', OriginStateSortType)"> 
													<span class="lode-arrow {{OriginStateSortType}}">{{ languageArray.planthst }}</span>
												</div>

												<div class="tb-cell Destination stype" ng-click="sortCustom('DestinationCity', DestinationCitySortType)">
													<span class="lode-arrow {{DestinationCitySortType}}">{{languageCommonVariables.destination }}</span>
												</div>

												<div class="tb-cell st1	stype" ng-click="sortCustom('DestinationState', DestinationStateSortType)">
													<span class="lode-arrow {{DestinationStateSortType}}">{{ languageArray.planthst }}</span>
												</div>

												<div class="tb-cell Driver stype" ng-click="sortCustom('driverName', driverNameSortType)">
													<span class="lode-arrow {{driverNameSortType}}">{{ languageArray.driver }}</span>	
												</div>
												
												<div class="tb-cell Invoice-No stype" ng-click="sortCustom('invoiceNo', invoiceNoSortType)" >
													<span class="lode-arrow {{invoiceNoSortType}}">		{{ languageCommonVariables.invoiceNo }}	</span>
												</div>

												<div class="tb-cell payment	stype" ng-click="sortCustom('PaymentAmount', PaymentAmountSortType)"> 
													<span class="lode-arrow {{PaymentAmountSortType}}">{{ languageArray.planthpayment }}</span>
												</div>

												<div class="tb-cell ppm	stype" ng-click="sortCustom('rpm', RpmSortType)"> 
													<span class="lode-arrow {{RpmSortType}}">{{ languageArray.planthrpm }}</span>
												</div>

												<div class="tb-cell miles stype" ng-click="sortCustom('Mileage', MileageSortType)"> 
													<span class="lode-arrow {{MileageSortType}}">{{ languageArray.planthmiles }}</span>
												</div>

												<div class="tb-cell d-miles stype" ng-click="sortCustom('deadmiles', deadmilesSortType)"> 
													<span class="lode-arrow {{deadmilesSortType}}">{{ languageArray.planthdeadmiles }}</span>
												</div>
												
												<div class="tb-cell length stype" ng-click="sortCustom('Length', LengthSortType)"> 
													<span class="lode-arrow {{LengthSortType}}">{{ languageArray.planthlength }}</span>
												</div>

												<div class="tb-cell weight stype" ng-click="sortCustom('Weight', WeightSortType)">
													<span class="lode-arrow {{WeightSortType}}">  {{ languageArray.planthweight }}</span>
												</div>

												<div class="tb-cell company stype" ng-click="sortCustom('TruckCompanyName', TruckCompanyNameSortType)"> 
													<span class="lode-arrow {{TruckCompanyNameSortType}}">{{ languageArray.planthcompany }}</span>
												</div>
												
												<div class="tb-cell source" ng-click="sortCustom('load_source', load_sourceSortType)"> 
													<span class="lode-arrow {{load_sourceSortType}}"> Source</span>	
												</div>
												
												<div class="tb-cell staus stype" ng-click="sortCustom('JobStatus', JobStatusSortType)"> 
													<span class="lode-arrow {{JobStatusSortType}}">{{ languageCommonVariables.commonTableThStatus }}</span>
												</div>
												
												<div class="tb-cell action">
													<span class="wid">{{ languageCommonVariables.commonTableThAction }}</span>
												</div>
											</div>
											<div class="table-row-main1 tb-body" data-pickdate="{{value.pickDate}}" data-uinfo="{{value.ID}}" pagination-id="loadsPage" dir-paginate="value in assignedLoads | itemsPerPage: itemsPerPage"  total-items="total" current-page="currentPage" ng-click="clickMatchLoadDetail(value.truckstopID, value.id, value.deadmiles, value.PaymentAmount, value.totalCost, value.pickDate, value.vehicle_id , $index)">
												
												<div class="tb-cell ld-id"> <span> <div class="plus-1" ng-click="$event.stopPropagation();toggleRow($event,$index);"></div>{{ value.id }}</span></div>
												<div class="tb-cell ph"> <span> {{ value.PointOfContactPhone }}</span></div>
												<div class="tb-cell trlr"> <span>{{ value.equipment_options }}</span></div>
												<div class="tb-cell fl"> <span>{{ value.LoadType }} </span></div>
												<div class="tb-cell pickup"> <span>{{ (value.PickupDate != '0000-00-00' && value.PickupDate != '' ) ? value.PickupDate : ''}}</span>
												</div>
												<div class="tb-cell delivery"> <span>{{ (value.DeliveryDate != '0000-00-00' && value.DeliveryDate != '' ) ? value.DeliveryDate : ''}}</span>
												</div>
												<div class="tb-cell Origin"> <span>{{ value.OriginCity|capitalize}}</span></div>
												<div class="tb-cell st"> <span>{{ value.OriginState | uppercase}}</span></div>
												<div class="tb-cell Destination	"> <span>{{ value.DestinationCity|capitalize}}</span></div>
												<div class="tb-cell st1	"> <span>{{ value.DestinationState | uppercase }}</span></div>
												<div class="tb-cell Driver	"> <span>{{ (value.driver_type == "team" ? value.teamdriverName : value.driverName) }}</span>
												</div>
												<div class="tb-cell Invoice-No	"> <span>{{ value.invoiceNo }} </span></div>
												<div class="tb-cell payment	"> <span>{{ value.PaymentAmount | currency:"$":2 }}</span></div>
												<div class="tb-cell ppm	"> <span>{{ value.Mileage != 0 ? (value.PaymentAmount / value.Mileage | currency:"$":2) : '' }}</span>
												</div>
												<div class="tb-cell miles	"> <span>{{ value.Mileage }}</span></div>
												<div class="tb-cell d-miles	"> <span>{{ value.deadmiles }}</span></div>
												<div class="tb-cell length"> <span>{{ value.Length }}</span></div>
												<div class="tb-cell weight">
													{{ value.Weight }}
												</div>
												<div class="tb-cell company">
													<span class="text-comp-name">{{ value.companyName|capitalize }}</span>
												</div>
												<div class="tb-cell source"> <span>{{ value.load_source }}</span></div>
												<div class="tb-cell staus"> <span>{{ value.JobStatus }}</span></div>
												<div class="tb-cell action" ng-click="$event.stopPropagation()">
													<span class="wid">
														<!--a class="btn btn-default DTTT_button_xls" data-original-title="Truck Route" ui-jq="tooltip" ng-click="showAssignedLoad(value)">
															<span><img src="pages/img/route.png"></span>
														</a-->
														<a class="btn btn-default DTTT_button_copy" data-original-title="Delete Load" ui-jq="tooltip" ng-click="removeLoadDelete(value.id,$index)">
															<span><i class="fa fa-trash" aria-hidden="true"></i></span>
														</a>
														<a class="btn btn-default DTTT_button_csv" data-original-title="Export as CSV" ui-jq="tooltip" ng-click="exportCsv($event,'loads',value.id)">
															<span><i class="pg-grid"></i></span>
														</a>
													</span>
												</div>
												<!--open-block-->
												<div class="open-block" id="hblock{{$index}}" style="display:none"> 
														<div class="tb-cell ld-id">
															<span> 
																<div class="heading"> {{ languageArray.popupLoadId }}  <b>:</b></div>
																<div class="value">{{ value.id }} </div>
															</span>
														</div>
														<div class="tb-cell ph">
															<span> 
																<div class="heading">{{ languageCommonVariables.commonTableThPhone }} <b>:</b></div>
																<div class="value">{{ value.PointOfContactPhone }}</div>
															</span>
														</div>
														<div class="tb-cell trlr">
															<span><div class="heading">{{ languageArray.trlrLoadTableThHeading }}<b>:</b></div><div class="value">{{ value.equipment_options }}</div></span>
														</div>
														<div class="tb-cell fl">
															<span><div class="heading">{{ languageArray.planthfl }} <b>:</b></div><div class="value">{{ value.LoadType }}</div> </span>
														</div>
														<div class="tb-cell pickup">
															<span><div class="heading">{{ languageArray.planthpickup }} <b>:</b></div><div class="value">{{ (value.PickupDate != '0000-00-00' && value.PickupDate != '' ) ? value.PickupDate : ''}}</div></span>
														</div>
														<div class="tb-cell delivery">
															<span><div class="heading">{{ languageArray.popupdelivery }} <b>:</b></div><div class="value">{{ (value.DeliveryDate != '0000-00-00' && value.DeliveryDate != '' ) ? value.DeliveryDate : ''}}</div></span>
														</div>
														<div class="tb-cell Origin">
															<span><div class="heading">{{ languageCommonVariables.origin }} <b>:</b></div><div class="value">{{ value.OriginCity|capitalize}}</div></span>
														</div>
														<div class="tb-cell st">
															<span><div class="heading">{{ languageArray.planthst }} <b>:</b></div><div class="value">{{ value.OriginState | uppercase}}</div></span>
														</div>
														<div class="tb-cell Destination	">
															<span><div class="heading"> {{ languageCommonVariables.destination }}  <b>:</b></div><div class="value">{{ value.DestinationCity|capitalize}}</div></span>
														</div>
														<div class="tb-cell st1	">
															<span><div class="heading"> {{ languageArray.planthst }}  <b>:</b></div><div class="value">{{ value.DestinationState | uppercase }}</div></span>
														</div>
														<div class="tb-cell Driver	">
															<span><div class="heading"> {{ languageArray.driver }}  <b>:</b></div><div class="value">{{ (value.driver_type == "team" ? value.teamdriverName : value.driverName) }} </div></span>
														</div>
														<div class="tb-cell Invoice-No	">
															<span><div class="heading">{{ languageCommonVariables.invoiceNo }} <b>:</b></div><div class="value">{{ value.invoiceNo }}</div> </span>
														</div>
														<div class="tb-cell payment	">
															<span><div class="heading">{{ languageArray.planthpayment }}<b>:</b></div><div class="value">{{ value.PaymentAmount | currency:"$":2 }}</div></span>
														</div>
														<div class="tb-cell ppm	">
															<span><div class="heading">{{ languageArray.planthrpm }} <b>:</b></div><div class="value">{{ value.Mileage != 0 ? (value.PaymentAmount / value.Mileage | currency:"$":2) : '' }}</div></span>
														</div>
														<div class="tb-cell miles	">
															<span><div class="heading"> {{ languageArray.planthmiles }}  <b>:</b></div><div class="value">{{ value.Mileage }}</div></span>
														</div>
														<div class="tb-cell d-miles	">
															<span><div class="heading"> {{ languageArray.planthdeadmiles }}  <b>:</b></div><div class="value">{{ value.deadmiles }}</div></span>
														</div>
														<div class="tb-cell length">
															<span><div class="heading"> {{ languageArray.planthlength }}  <b>:</b></div><div class="value">{{ value.Length }}</div></span>
														</div>
														<div class="tb-cell weight">
															<span><div class="heading">{{ languageArray.planthweight }} <b>:</b></div><div class="value">{{ value.Weight }}</div></span>
														</div>
														<div class="tb-cell company">
															<span> <div class="heading">  {{ languageArray.planthcompany }} <b>:</b></div><div class="value">{{ value.companyName|capitalize }}</div></span>
														</div>
														<div class="tb-cell source">
															<span><div class="heading">Source <b>:</b></div><div class="value">{{ value.load_source }}</div></span>
														</div>
														<div class="tb-cell staus">
															<span><div class="heading">{{ languageCommonVariables.commonTableThStatus }} <b>:</b></div><div class="value">{{ value.JobStatus }}</div></span>
														</div>
														<div class="tb-cell action">
															<span >
																<div class="heading">{{ languageCommonVariables.commonTableThAction }} <b>:</b></div><div class="value">
																	<!--a class="btn btn-default DTTT_button_xls" data-original-title="Truck Route" ui-jq="tooltip" ng-click="showAssignedLoad(value)">
																		<span><img src="pages/img/route.png"></span>
																	</a-->
																	<a class="btn btn-default DTTT_button_copy" data-original-title="Delete Load" ui-jq="tooltip" ng-click="removeLoadDelete(value.id,$index)">
																		<span><i class="fa fa-trash" aria-hidden="true"></i></span>
																	</a>
																	<a class="btn btn-default DTTT_button_csv" data-original-title="Export as CSV" ui-jq="tooltip" ng-click="exportCsv($event,'loads',value.id)">
																		<span><i class="pg-grid"></i></span>
																	</a>
																</div>
															</span>
														</div>
												</div>
												<!--open-block-->
											</div>
											<div ng-show="haveRecords" class="no-record-found">Oops! No record found</div>
												
										</div>
									</div><!-- table-structure-main-block -->

									<div class="dataTables_wrapper">
									    <div class="dataTables_paginate">
									        <dir-pagination-controls pagination-id="loadsPage" template-url="./assets/templates/dirPagination.html" on-page-change="pageChanged(newPageNumber)" direction-links="true" undary-links="true"></dir-pagination-controls>
									    </div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 
<ng-include src="'./assets/templates/truckstop/modals.html'"></ng-include>

