<style>
	body{
	  overflow-y:hidden;	
	}
	.padding-none .commen-heading {
	  margin-bottom: 0px;
	}
	.full-height {
	  height: 100%;
	  max-height: 566px !important;
	  padding-bottom: 61px;
	}
	.pdf-cover {
	  height: 80px;
	  position: absolute;
	  right: 0;	
	  top: -12px;
	  width: 80px;
	  background: #fff;
	}
</style>

<!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
          <!-- START CONTAINER FLUID -->
			<div class="container-fluid padding-none sm-padding-10">
				<canvas id="viewport" style="display: none;"></canvas>
				<div ng-show="showMessage == true" class="alert alert-success sendPaymentPage" role="alert">
					<button ng-click = "hideloadmessage()" class="close"></button>
					{{SuccMessage}}
				</div>
				<div ng-show="showErrorMessage == true" class="modal-alert alert alert-danger sendPaymentPage" role="alert">
					<button ng-click = "hideloadmessage()" class="close"></button>
					{{ErrMessage}}
				</div>
			
				
				<div class="col-middle loader-outer" ng-show="autoFetchLoads == true">
					<div class="loader-inner">
						<div class="full-height">
							<div class="panel-body text-center">
								<img class="image-responsive-height demo-mw-50" src="assets/img/demo/progress.svg" alt="Progress">
							</div>
						</div>
					</div>
                </div>
        </div>
		
<div ng-include src="'./assets/templates/billings/sendForPayment_Sidebar.html'" include-replace></div>
<div ng-include src="'./assets/templates/truckstop/modals.html'" include-replace></div>
	<div class="inner-content full-height sendforcover no-h2-block" >
		<div class="split-view">
			<!-- START EMAILS LIST -->
			<div class="split-list split-list-width" ng-class="showPaymentSidebarLiSelected == 'outbox' ? 'outbox-height' : ''" > 
				<div data-email="list" ui-jq="ioslist" >
					<!-- START EMAIL LIST SORTED BY DATE -->
						<div class="list-view-group-container " >
							<ul class="no-sp-top " >
								<li class="gry-bg" ng-if="SendLoads.length > 0">
									<div class="no-result not-show" >
										<button href="javascript:void(0);" ng-if="showPaymentSidebarLiSelected == 'inbox'" ng-click="sendPayment.processPaymentQueue()" class="edit-loadDetail edit1Load btn btn-info btn-cons m-b-10 button-left" type="button">
											<i class="fa fa-paste"></i> <span class="bold">Process Tickets</span>
										</button>
																			
										<button href="javascript:void(0);" ng-disabled="factoredPaymentCount == 0" ng-if="showPaymentSidebarLiSelected == 'factoring'" ng-click="sendPayment.sendDocsForPayment()" class="edit-loadDetail edit1Load btn btn-info btn-cons m-b-10 button-left" type="button">
											<i class="fa fa-paper-plane"></i> <span class="bold">{{ languageCommonVariables.sendForPayment }}</span>
										</button>

		      							<button href="javascript:void(0);" ng-if="showPaymentSidebarLiSelected == 'outbox' || showPaymentSidebarLiSelected == 'inbox' || showPaymentSidebarLiSelected == 'factoring'" ng-click="exportSendPayment(showPaymentSidebarLiSelected)" class="edit-loadDetail edit1Load btn btn-primary btn-cons m-b-10 button-left" type="button">
											<i class="fa fa-file-excel-o"></i> 
											<span class="bold">Export</span>
										</button>
									</div>
								</li>
								<li ng-repeat="value in SendLoads track by $index" class="item padding-15" ng-click="showLoad(value.id,$index)" ng-class="{selectedLi: $index == selectedIndex}"> 
									<div class="thumbnail-wrapper d32 circular bordered {{item.color}}" style="background: {{value.color}}"> 
										<img width="40" height="40" alt="" ng-src="./assets/uploads/drivers/thumbnail/{{value.profile_image}}" onerror="this.style.display = 'none'"/>
										<span class="text-image hide-1 sendpayment" style="background: {{value.color}}">
										{{value.first_name.substring(0, 1).toUpperCase()}}{{value.last_name.substring(0, 1).toUpperCase()}}
										</span>
									</div> 
									
									<div class="checkbox  no-margin p-l-10"> 
										<input type="checkbox" value="1" id="emailcheckbox-{{$parent.$index}}-{{$index}}"> 
										<label for="emailcheckbox-{{$parent.$index}}-{{$index}}"></label> 
									</div> 
									<div class="inline m-l-15 email-check-sub"> 
										<p class="icon-main-right-1 flag-icon" ng-if="value.flag == 1 && value.payment_type == 'triumph'"><img src="pages/img/triumphLogo.png" class="triumph-logo" alt="" ></p>
										<p class="flag-icon" ng-if="value.flag == 1 && value.payment_type == 'manual'"><img src="pages/img/v-icon.png" alt=""></p>	
										<!--p class="flag-icon" ng-if="value.flag == 1 && value.sent_for_payment != 1 && value.payment_type == 'manual'"><img src="pages/ico/favicon.ico" alt=""></p-->	
										<p class="recipients no-margin hint-text small">Driver - {{value.driverName}}</p> 
										<p class="subject" style="margin-bottom:5px;"><b>{{ languageCommonVariables.origin }} - </b>{{ (value.PickupAddress != '' ) ? value.PickupAddress+',' : '' }}{{ value.OriginCity }},{{ value.OriginState }},{{ value.OriginCountry }}</p> 
										<p class="subject" style="margin-bottom:5px;"><b>{{ languageCommonVariables.destination }} -</b> {{ (value.DestinationAddress != '' ) ? value.DestinationAddress+',' : '' }}{{ value.DestinationCity }},{{ value.DestinationState }},{{ value.DestinationCountry }}</p> 
										<p class="subject no-margin"><b>{{ (value.billType == 'shipper') ? value.billType : 'Broker' }}-</b> {{value.TruckCompanyName}}</p> 
										<p class="body no-margin"> {{ languageCommonVariables.invoiceAmount }} - {{ value.PaymentAmount | currency:"$":2 }}</p> 
									</div> 
									<div class="datetime">{{item.time}}</div> 
									<div class="clearfix"></div> 
								</li>
								
								<li>
									<div class="no-result not-show" ng-if="SendLoads.length == 0">
										<h1 class="result-no-custom">{{ languageArray.noloadsfound }}</h1>
									</div>
								</li>
							</ul>
					</div>
					<!-- END EMAIL LIST SORTED BY DATE -->
				</div>
			</div>
			<!-- END EMAILS LIST -->
			<!-- START OPENED EMAIL -->
			<div data-email="opened" class="split-details">
				<div class="no-result not-show" ng-show="noLoadSelected == true">
					<h1>{{ languageCommonVariables.noLoadSelected }}</h1>
				</div>
				 <div class="email-content-wrapper" ng-show="noLoadSelected == false">
					<div class="actions-wrapper menuclipper color-bg-head" ui-jq="menuclipper" ui-options="{bufferWidth: 20}">
						<ul class="actions menuclipper-menu no-margin p-l-20 ">
							<li class="no-padding" ui-jq="tooltip" data-original-title="Add to Triumph">
								<a href="javascript:void(0)" ng-show="showLoadDetail.flag == 0 && showPaymentSidebarLiSelected != 'outbox'" ng-click = "flagUnflagLoad('flag',showLoadDetail.id,'triumph')" class="text-info">Add To Triumph</a>
							</li>
							<li class="no-padding" ui-jq="tooltip" data-original-title="Add to Manual">
								<a href="javascript:void(0)" ng-show="showLoadDetail.flag == 0 && showPaymentSidebarLiSelected != 'outbox'" ng-click = "flagUnflagLoad('flag',showLoadDetail.id,'manual')" class="text-info">Add To Manual</a>
							</li>
							<li class="no-padding" ui-jq="tooltip" data-original-title="Remove from queue">
								<a href="javascript:void(0)" ng-show="showLoadDetail.flag == 1 && showPaymentSidebarLiSelected != 'outbox'"  ng-click = "flagUnflagLoad('unflag',showLoadDetail.id)" class="text-danger">{{ languageCommonVariables.removeFromQueue }}</a>
							</li>
						</ul>
						<button href="javascript:void(0);" ng-click="clickMatchLoadDetail(showLoadDetail.truckstopID, showLoadDetail.id, showLoadDetail.deadmiles, showLoadDetail.PaymentAmount, showLoadDetail.totalCost, showLoadDetail.pickDate,showLoadDetail.vehicle_id,'sendForPayment' )" class="edit-loadDetail edit1Load btn btn-info btn-cons m-b-10 button-left" type="button">
							<i class="fa fa-paste"></i> <span class="bold">Edit</span>
						</button>
						<div class="clearfix"></div>
					</div>
					<div class="email-content-custom">
						<div class="email-content-header">							
							<div class="fromto billing-manage">
								<div class="pull-left">
									<!--Billing and shipper detail-->								
									<div class="col-xs-12 amount-load-section company-load-section">
										<h3 class="company-heading">
											<span>{{ languageArray.popuploaddetails }}</span>
											<div class="pdf-cover" ng-if="showLoadDetail.doc_name != ''" ng-click="perviewDocBilling(showLoadDetail.doc_type,showLoadDetail.doc_name,showLoadDetail.documentID)">
												<img ui-jq="tooltip" title="Preview Bundle Document" ng-src="assets/uploads/documents/thumb_bundle/{{showLoadDetail.thumbBundle}}" fallback-src="pages/img/pdf.png" />
											</div>
											<div class="pdf-cover" ng-if="showLoadDetail.doc_name == ''" >
												<img ui-jq="tooltip" title="Preview Bundle Document" ng-src="assets/uploads/documents/thumb_bundle/{{showLoadDetail.thumbBundle}}" fallback-src="pages/img/pdf.png" />
											</div>
										</h3>
										<div class="row">
											
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.popuppickup }} {{ languageCommonVariables.address }}</label>
													<span> {{ (showLoadDetail.PickupAddress != '' ) ? showLoadDetail.PickupAddress+',' : '' }}{{ showLoadDetail.OriginCity }},{{ showLoadDetail.OriginState }},{{ showLoadDetail.OriginCountry }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthdesti }} {{ languageCommonVariables.address }}</label>
													<span> {{ (showLoadDetail.DestinationAddress != '' ) ? showLoadDetail.DestinationAddress+',' : '' }}{{ showLoadDetail.DestinationCity }},{{ showLoadDetail.DestinationState }},{{ showLoadDetail.DestinationCountry }} </span>
												</div>
											</div>	
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageCommonVariables.commonTableThPhone }}</label>
													<span> {{ showLoadDetail.shipper_phone }} </span>
												</div>
											</div>								
										</div>
										
										<div class="row">
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthpickup }}</label>
													<span> {{ showLoadDetail.PickupDate }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthpayment }} </label>
													<span> {{ showLoadDetail.PaymentAmount | currency:"$":2  }} </span>
												</div>
											</div>	
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthrpm }}</label>
													<span> {{ showLoadDetail.PaymentAmount / showLoadDetail.Mileage | currency:"$":2 }} </span>
												</div>
											</div>								
										</div>
										
										<div class="row">
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthmiles }}</label>
													<span> {{ showLoadDetail.Mileage }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthdeadmiles }} </label>
													<span> {{ showLoadDetail.deadmiles }} </span>
												</div>
											</div>	
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageArray.planthweight }}</label>
													<span> {{ showLoadDetail.Weight }} </span>
												</div>
											</div>								
										</div>
										
									</div>
									
									<div class="col-xs-12 amount-load-section company-load-section">
										<h3 class="company-heading"><span class="border-middle">{{languageArray.popupbroker}}</span></h3>
										<div class="row">
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{languageArray.popupbroker}} {{ languageArray.name }}</label>
													<span>{{ showLoadDetail.TruckCompanyName }}</span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageCommonVariables.contact }} </label>
													<span> {{ showLoadDetail.PointOfContactPhone }} </span>
												</div>
											</div>	
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageCommonVariables.Brokermc }}</label>
													<span> {{ showLoadDetail.MCNumber }} </span>
												</div>
											</div>								
										</div>
									</div>
									
									<div class="col-xs-12 amount-load-section company-load-section">
										<h3 class="company-heading"><span class="border-last">{{languageArray.billingAndShipping}}</span></h3>
										<div class="row">
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{languageArray.name}}</label>
													<span> {{ showLoadDetail.shipper_name }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{languageArray.telephone}}</label>
													<span> {{ showLoadDetail.shipper_phone }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{languageArray.address}}</label>
													<span> {{(showLoadDetail.PickupAddress != '' ) ? showLoadDetail.PickupAddress+',' : '' }}{{ showLoadDetail.OriginCity }},{{ showLoadDetail.OriginState }},{{ showLoadDetail.OriginCountry }} </span>
												</div>
											</div>
											
										</div>
									</div>
									
									<div class="col-xs-12 amount-load-section company-load-section">
										<h3 class="company-heading"><span class="">{{ languageCommonVariables.invoiceDetails }}</span></h3>
										<div class="row">
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageCommonVariables.invoiceNo }}</label>
													<span> {{ showLoadDetail.invoiceNo }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageCommonVariables.invoiceDate }}</label>
													<span> {{ showLoadDetail.invoicedDate }} </span>
												</div>
											</div>
											<div class="col-sm-4 col-md-4 popup-input-edit-grid">
												<div class="form-group form-group-default">
													<label>{{ languageCommonVariables.invoiceAmount }}</label>
													<span> {{ showLoadDetail.PaymentAmount | currency:"$":2  }} </span>
												</div>
											</div>
											
										</div>
									</div>
								</div>
									<!--Billing and shipper detail ends-->									
								
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
			<!-- END OPENED EMAIL -->
		</div>
	</div> <!--Inner Content -->
</div>
</div>

