<!-- START PAGE CONTENT WRAPPER -->
<div class="page-content-wrapper" ng-show="dataErrorMessage == true">
	<!-- START PAGE CONTENT -->
	<div class="content sm-gutter">
		<!-- START CONTAINER FLUID -->
		<div class="container-fluid padding-25 sm-padding-10">
			<div class="no-vehicle"><h2>{{ languageArray.noVehicle }}</h2></div>
		</div>
	</div>
</div>
<!-- START PAGE CONTENT WRAPPER -->
<div class="page-content-wrapper" ng-show="dataErrorMessage == false">
<!-- START PAGE CONTENT -->
<div class="content sm-gutter">
<!-- START CONTAINER FLUID -->
<div class="container-fluid padding-25 sm-padding-10">
	<canvas id="viewport" style="display: none;"></canvas> <!-- Canvas for dynamically create custom map markers -->
	 <div class="col-middle loader-outer" ng-show="autoFetchLoads == true">
					<!-- START PANEL -->
					<div class="loader-inner">
					<div class="full-height">
						<div class="panel-body text-center">
							<img class="image-responsive-height demo-mw-50" src="assets/img/demo/progress.svg" alt="Progress">
						</div>
					</div>
					</div>
					<!-- END PANEL -->
                </div>
                
		<div class="row">
            <div class="col-md-12 col-xlg-12">
                <!--h2 class="oprate-dashbord">load</h2-->
                <div class="commen-heading plan-page">
					<h2 class="oprate-dashbord">{{tableTitle[0]}}</h2>
					<div class="label_select_box">
						<div class="label-select-box-filters" ng-show = "fetchnewsearch == false">
							<ui-select class="mdrivers" ng-model="search_label" theme="bootstrap" on-select="onSelectVehicleCallback($item, $model); changeDriverLoads($item.vid);" required>
								<ui-select-match class="ui-select-match" placeholder="{{ languageArray.planselectdriver }}">{{selectedDriver}}</ui-select-match>
								<ui-select-choices class="ui-select-choices" group-by="groupFind" repeat="item in labelArray | propsFilter: {driverName: $select.search, username: $select.search} | orderBy:groupFind">
									<div ng-bind-html="trustAsHtml((item.driverName  | highlight: $select.search))"></div>
								</ui-select-choices>
							</ui-select>
							<span class="glymphic-span" ng-show="newChangeDriverLoads == true"><i class="glyphicon glyphicon-refresh spinning"></i></span>
						</div>
					</div>
				</div>
            </div>            
        </div>
        <div class="row invocie-block-row">
        	<div class="col-md-12 col-xlg-12">
        		<div class="load-new-block-table-main plan-search">
        			<div class="load-new-block-table">
        				<div class="panel-body add-new-data fix-page ">
        					<div class="load-tabe-auto job-list truckstopJobs map-load-section" ng-class="showRouteOnMap == true ? 'change-table-height start-over' : ''">
                                <div class="col-xs-4 srch-btn">
										<label for="search">{{ languageArray.searchButton }}</label>
										<input type="text" class="form-control" ng-model="searchLoad">
								</div>
								
                                <a href="javascript:void(0);" ng-show="showStartOver == true"  class="add-new-data-button ostart"> 
								 	<button ng-click="startOverChain();" class="btn btn-primary btn-cons m-b-10" type="button">
								 		<i ng-show="startOverSpin == true" class="glyphicon glyphicon-refresh spinning"></i>
								 		<i ng-show="startOverSpin != true" class="fa fa-repeat"></i> <span class="bold">{{ languageArray.startOver }}</span>
								 	</button>
                                 </a>
                                 <a href="javascript:void(0);" class="add-new-data-button "> 
								 	<button ng-click="askForCustomSearch()" class="btn btn-primary btn-cons m-b-10" type="button">
								 		<i  class="fa fa-search"></i> <span class="bold">Search From</span>
								 	</button>
                                 </a>
<!--
                                 <div class="tabbing-list-data-outer">
                                 		<ul class="tabbing-list-data-inner">
                                 			<li class="active"><a href="">{{ languageArray.routeOneHeading }}</a></li>
                                 			<li><a href="">Route Two</a></li>
                                 			<li><a href="">Route Three</a></li>
                                 		</ul>
                                 </div>
-->

								<div class="table-structure-main-block tb-my">
										<div class="table-res-1" id="testTable">
											<div class="table-row-main1 tb-head">

												<div class="tb-cell ld-id ph-plan stype"> 
													<span>{{ languageCommonVariables.commonTableThPhone }}</span>
												</div>

												<div class="tb-cell company-plan stype" ng-click="sortType = 'CompanyName'; sortReverse = !sortReverse;"> 
													<span class="lode-arrow" ng-class="sortType == 'CompanyName' && !sortReverse ? 'ASC' : (sortType == 'CompanyName' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthcompany }}</span>
												</div>

												<div class="tb-cell p-age-plan stype" ng-click="sortType = 'Age'; sortReverse = !sortReverse;" > 
													<span class="lode-arrow " ng-class="(sortType == 'Age' && !sortReverse) ? 'ASC' : (sortType == 'Age' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthage }}</span>
												</div>

												<div class="tb-cell fl-plan stype" ng-click="sortType = 'LoadType'; sortReverse = !sortReverse"> 
													<span class="lode-arrow" ng-class="(sortType == 'LoadType' && !sortReverse) ? 'ASC' :  (sortType == 'LoadType' && sortReverse) ? 'DESC' : ''  ">{{ languageArray.planthfl }}</span>
												</div>

												<div class="tb-cell pickup-plan stype" ng-click="sortType = 'displayPickUpDate'; sortReverse = !sortReverse"> 
													<span class="lode-arrow" ng-class="(sortType == 'displayPickUpDate' && !sortReverse) ? 'ASC' :  (sortType == 'displayPickUpDate' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthpickup }}</span>
												</div>

												<div class="tb-cell Origin-plan stype" ng-click="sortType = 'OriginCity'; sortReverse = !sortReverse"> 
													<span class="lode-arrow" ng-class="(sortType == 'OriginCity' && !sortReverse) ? 'ASC' : (sortType == 'OriginCity' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthorigin }}</span>
												</div>

												<div class="tb-cell st-plan stype" ng-click="sortType = 'OriginState'; sortReverse = !sortReverse"> 
													<span class="lode-arrow" ng-class="(sortType == 'OriginState' && !sortReverse) ? 'ASC' : (sortType == 'OriginState' && sortReverse) ? 'DESC' : '' " > {{ languageArray.planthst }}</span>
												</div>

												<div class="tb-cell Destination-plan stype" ng-click="sortType = 'DestinationCity'; sortReverse = !sortReverse">
													<span class="lode-arrow " ng-class="(sortType == 'DestinationCity' && !sortReverse) ? 'ASC' : (sortType == 'DestinationCity' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthdesti }}</span>
												</div>

												<div class="tb-cell st1-plan	stype" ng-click="sortType = 'DestinationState'; sortReverse = !sortReverse">
													<span class="lode-arrow" ng-class="(sortType == 'DestinationState' && !sortReverse) ? 'ASC' :  (sortType == 'DestinationState' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthst }}</span>
												</div>

												<div class="tb-cell miles-plan stype" ng-click="sortType = 'Miles'; sortReverse = !sortReverse"> 
													<span class="lode-arrow"  ng-class="(sortType == 'Miles' && !sortReverse) ? 'ASC' :   (sortType == 'Miles' && sortReverse) ? 'DESC' : ''  ">{{ languageArray.planthmiles }}</span>
												</div>

												<div class="tb-cell d-miles-plan stype" ng-click="sortType = 'deadmiles'; sortReverse = !sortReverse"> 
													<span class="lode-arrow" ng-class="(sortType == 'deadmiles' && !sortReverse) ? 'ASC' : (sortType == 'deadmiles' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthdeadmiles }}</span>
												</div>

												<div class="tb-cell trlr-plan stype" ng-click="sortType = 'Equipment'; sortReverse = !sortReverse"  > 
													<span class="lode-arrow" ng-class="(sortType == 'Equipment' && !sortReverse) ? 'ASC' : (sortType == 'Equipment' && sortReverse) ? 'DESC' : '' " >{{ languageArray.trlrLoadTableThHeading }}</span>
												</div>

												<div class="tb-cell length-plan stype" ng-click="sortType = 'Length'; sortReverse = !sortReverse"> 
													<span class="lode-arrow " ng-class="(sortType == 'Length' && !sortReverse) ? 'ASC' : (sortType == 'Length' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthlength }}</span>
												</div>

												<div class="tb-cell weight-plan stype"   ng-click="sortType = 'Weight'; sortReverse = !sortReverse">  
													<span class="lode-arrow" ng-class="(sortType == 'Weight' && !sortReverse) ? 'ASC' : (sortType == 'Weight' && sortReverse) ? 'DESC' : '' "> {{languageArray.planthweight }}</span>
												</div>

												<div class="tb-cell ppm-plan	" ng-click="sortType = 'RPM'; sortReverse = !sortReverse"> 
													<span class="lode-arrow " ng-class="(sortType == 'RPM' && !sortReverse) ? 'ASC' : (sortType == 'RPM' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthrpm }}</span>
												</div>

												<div class="tb-cell payment-plan	stype" ng-click="sortType = 'Payment'; sortReverse = !sortReverse"> 
													<span class="lode-arrow " ng-class="(sortType == 'Payment' && !sortReverse) ? 'ASC' : (sortType == 'Payment' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthpayment }}</span>
												</div>

												<div class="tb-cell fuel-cost-plan stype" ng-click="sortType = 'FuelCost'; sortReverse = !sortReverse"> 
													<span class="lode-arrow " ng-class="(sortType == 'FuelCost' && !sortReverse) ? 'ASC' : (sortType == 'FuelCost' && sortReverse) ? 'DESC' : ''  ">{{ languageArray.planthfuel }}</span>
												</div>

												<div class="tb-cell profit-amount-plan stype" ng-click="sortType = 'profitAmount'; sortReverse = !sortReverse"> 
													<span class="lode-arrow " ng-class="(sortType == 'profitAmount' && !sortReverse) ? 'ASC' : (sortType == 'profitAmount' && sortReverse) ? 'DESC' : ''  ">{{ languageArray.planthprofit }}</span>
												</div>

												<div class="tb-cell profit-prct-plan stype" ng-click="sortType = 'percent'; sortReverse = !sortReverse"> 
													<span class="lode-arrow " ng-class="(sortType == 'percent' && !sortReverse) ? 'ASC' :  (sortType == 'percent' && sortReverse) ? 'DESC' : '' ">{{ languageArray.planthprofitper }}</span>
												</div>

												<div class="tb-cell action action-plan ">
													<span class="wid">{{ languageCommonVariables.commonTableThAction }}</span>
												</div>
											</div>
											

											<div class="table-row-main1 tb-body" ng-class="{'visited' : value.visited}" data-pickdate="{{value.pickDate}}" data-uinfo="{{value.ID}}" dir-paginate="(key3,value) in filteredLoads = (loadsData | filter:searchLoad) | orderBy:sortType:sortReverse | itemsPerPage: perPageNumber" pagination-id="planPage" ng-click="clickMatchLoadDetail(value.ID,'',value.deadmiles,value.Payment,value.TotalCost,value.pickDate,'plan')">
												
												<div class="tb-cell export ld-id ph-plan">
													<span>
														<div class="plus-1" ng-click="$event.stopPropagation();toggleRow($event,$index);"></div>
														{{value.PointOfContactPhone | bcTelephone:'format' }}
													</span>
												</div>
												<div class="tb-cell export company-plan " > 
													<span class="text-same-lower">{{value.CompanyName|capitalize}}</span>
												</div>

												<div class="tb-cell export p-age-plan" > 
													<span>{{value.Age}}</span>
												</div>

												<div class="tb-cell export fl-plan" > 
													<span>{{value.LoadType}}</span>
												</div>

												<div class="tb-cell export pickup-plan" > 
													<span>{{value.displayPickUpDate}}</span>
												</div>

												<div class="tb-cell export Origin-plan" > 
													<span class="text-same-lower">{{value.OriginCity|capitalize}}</span>
												</div>

												<div class="tb-cell export st-plan" > 
													<span class="state-capital"> {{value.OriginState}}</span>
												</div>

												<div class="tb-cell export Destination-plan">
													<span class="text-same-lower ex-large-width">{{value.DestinationCity|capitalize}}</span>
												</div>

												<div class="tb-cell export st1-plan">
													<span class=" state-capital">{{value.DestinationState}}</span>
												</div>

												<div class="tb-cell export miles-plan" > 
													<span>{{ value.Miles | number }}</span>
												</div>

												<div class="tb-cell export d-miles-plan" > 
													<span>{{value.deadmiles | number}}</span>
												</div>

												<div class="tb-cell export trlr-plan" > 
													<span class=" short-width">{{value.Equipment}}</span>
												</div>

												<div class="tb-cell export length-plan" > 
													<span>{{value.Length}}</span>
												</div>

												<div class="tb-cell export weight-plan">     
													<span> {{value.Weight}}</span>
												</div>

												<div class="tb-cell export ppm-plan	" > 
													<span>{{ value.RPM | currency:"$":2 }}</span>
												</div>

												<div class="tb-cell  payment-plan" > 
													<span ng-init="estimated = (value.highlight == 1) ? 'Estimated' : ''" ng-class="value.highlight == 1 ? 'highlight' : ''"><span class="export" title="{{estimated}}" ui-jq="tooltip" >{{value.Payment | currency:"$":2}}</span> </span>
												</div>

												<div class="tb-cell export fuel-cost-plan" > 
													<span class="text-same-lower">{{value.FuelCost |  currency:"$":2}} </span>
												</div>

												<div class="tb-cell export profit-amount-plan" > 
													<span>{{value.profitAmount | currency:"$":2}}</span>
												</div>

												<div class="tb-cell export profit-prct-plan" > 
													<span ng-init="estimated = (value.highlight == 1) ? 'Estimated' : ''" ng-class="value.highlight == 1 ? 'highlight' : ''"><span class="export" title="{{estimated}}" ui-jq="tooltip" >{{value.percent}}%</span></span>
												</div>
												<div class="tb-cell action-plan action" ng-click="$event.stopPropagation()">
													<span class="wid">
														<a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.specialInfo}}" ui-jq="tooltip" ng-click="fetchSpecialNote(value.ID)" >
															<span><i class="fa fa-info" aria-hidden="true"></i></span>
														</a>
														<a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.deleteLoad}}" ui-jq="tooltip" ng-click="removeItenaryLoad(value.ID,$event,$index)">
															<span><i class="fa fa-trash" aria-hidden="true"></i></span>
														</a>
														<a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.addToItenary}}" ui-jq="tooltip" ng-click="getRepitionData(value,tableTitle[0],$event)">
															<span><img class="inc-img-height" src="pages/img/distance-icongray.png"></span>
														</a>
														<a class="btn btn-default DTTT_button_csv" data-original-title="{{languageCommonVariables.exportCSV}}" ui-jq="tooltip" ng-click="exportCsvAPI($event)">
															<span><i class="pg-grid"></i></span>
														</a>
													</span>
												</div>
												<!--open-block-->
												<div class="open-block" id="hblock{{$index}}" style="display:none"> 
														<div class="tb-cell ph-plan">
															<span> 
																<div class="heading"> {{ languageCommonVariables.commonTableThPhone }}  <b>:</b></div>
																<div class="value">{{value.PointOfContactPhone | bcTelephone:'format' }} </div>
															</span>
														</div>

														<div class="tb-cell company-plan "> 
															<span>
																<div class="heading" > {{languageArray.planthcompany}}<b>:</b></div>
																<div class="value">{{value.CompanyName|capitalize}}</div>
															</span>
														</div>

														<div class="tb-cell p-age-plan "> 
															<span>
																<div class="heading"> <b>{{languageArray.planthage}}:</b></div>
																<div class="value">{{value.Age}}</div>
															</span>
														</div>

														<div class="tb-cell fl-plan ">
															<span>
																<div class="heading" > {{languageArray.planthfl}}<b>:</b></div>
																<div class="value">{{value.LoadType}}</div>
															</span>
														</div>

														<div class="tb-cell pickup-plan ">
															<span>
																<div class="heading" > {{languageArray.planthpickup}}<b>:</b></div>
																<div class="value">{{value.displayPickUpDate}}</div>
															</span>
														</div>

														<div class="tb-cell Origin-plan ">
															<span>
																<div class="heading" > {{languageArray.planthorigin}}<b>:</b></div>
																<div class="value">{{value.OriginCity|capitalize}}</div>
															</span>
														</div>

														<div class="tb-cell st-plan ">
															<span>
																<div class="heading" > {{languageArray.planthst }}<b>:</b></div>
																<div class="value">{{value.OriginState}}</div>
															</span>
														</div>

														<div class="tb-cell Destination-plan ">
															<span>
																<div class="heading "> <b>{{languageArray.planthdesti}}:</b></div>
																<div class="value">{{value.DestinationCity|capitalize}}</div>
															</span>
														</div>

														<div class="tb-cell st1-plan">
															<span>
																<div class="heading" > {{languageArray.planthst}}<b>:</b></div>
																<div class="value">{{value.DestinationState}}</div>
															</span>
														</div>

														<div class="tb-cell miles-plan ">
															<span>
																<div class="heading" > {{languageArray.planthmiles}}<b>:</b></div>
																<div class="value">{{ value.Miles | number }}</div>
															</span>
														</div>

														<div class="tb-cell d-miles-plan ">
															<span>
																<div class="heading" > {{languageArray.planthdeadmi}}<b>:</b></div>
																<div class="value">{{ value.deadmiles | number }}</div>
															</span>
														</div>

														<div class="tb-cell trlr-plan ">
															<span>
																<div class="heading" > {{languageArray.trlrLoadTableThHeading}}<b>:</b></div>
																<div class="value">{{value.Equipment}}</div>
															</span>
														</div>

														<div class="tb-cell length-plan ">
															<span>
																<div class="heading "> {{languageArray.planthlength}}<b>:</b></div>
																<div class="value">{{value.Length}}</div>
															</span>
														</div>

														<div class="tb-cell weight-plan ">
														<span>
															<div class="heading" > {{languageArray.planthweight}}<b>:</b></div>
															<div class="value">{{value.Weight }}</div>
															</span>
														</div>

														<div class="tb-cell ppm-plan	"> 
														<span>
															<div class="heading "> {{languageArray.planthrpm}}<b>:</b></div>
															<div class="value">{{ value.RPM | currency:"$":2 }}</div>
															</span>
														</div>

														<div class="tb-cell payment-plan">
															<span>
															<div class="heading "> {{languageArray.planthpayment}}<b>:</b></div>
															<div class="value">
																<span ng-init="estimated = (value.highlight == 1) ? 'Estimated' : ''" ng-class="value.highlight == 1 ? 'highlight' : ''"><span  title="{{estimated}}" ui-jq="tooltip" >{{value.Payment | currency:"$":2}}</span> </span>
															</div>
															</span>
														</div>

														<div class="tb-cell fuel-cost-plan ">
															<span>
															<div class="heading "> {{languageArray.planthfuel}}<b>:</b></div>
															<div class="value">{{value.FuelCost |  currency:"$":2}}</div>
															</span>
														</div>

														<div class="tb-cell profit-amount-plan ">
														<span>
															<div class="heading "> {{languageArray.planthprofit}}<b>:</b></div>
															<div class="value">{{value.profitAmount | currency:"$":2}}</div>
															</span>
														</div>

														<div class="tb-cell profit-prct-plan ">
														<span>
															<div class="heading "> {{languageArray.planthprofitper}}<b>:</b></div>
															<div class="value">
																<span ng-init="estimated = (value.highlight == 1) ? 'Estimated' : ''" ng-class="value.highlight == 1 ? 'highlight' : ''"><span  title="{{estimated}}" ui-jq="tooltip" >{{value.percent}}%</span></span>
															</div>
															</span>
														</div>

														<div class="tb-cell action-plan action">
															<span >
																<div class="heading">{{ languageCommonVariables.commonTableThAction }} <b>:</b></div>
																<div class="value">
																	<a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.specialInfo}}" ui-jq="tooltip" ng-click="fetchSpecialNote(value.ID)" >
																		<span><i class="fa fa-info" aria-hidden="true"></i></span>
																	</a>
																	<a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.deleteLoad}}" ui-jq="tooltip" ng-click="removeItenaryLoad(value.ID,$event,$index)">
																		<span><i class="fa fa-trash" aria-hidden="true"></i></span>
																	</a>
																	<a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.addToItenary}}" ui-jq="tooltip" ng-click="getRepitionData(value,tableTitle[0],$event)">
																		<span><img class="inc-img-height" src="pages/img/distance-icongray.png"></span>
																	</a>
																	<a class="btn btn-default DTTT_button_csv" data-original-title="{{languageCommonVariables.exportCSV}}" ui-jq="tooltip" ng-click="exportCsvAPI($event)">
																		<span><i class="pg-grid"></i></span>
																	</a>
																</div>
															</span>
														</div>
												</div>
												<!--open-block-->
											</div>
										</div>
									</div><!-- table-structure-main-block -->
									<div class="dataTables_wrapper">
            							<div class="dataTables_paginate">
											<dir-pagination-controls pagination-id="planPage" template-url="./assets/templates/dirPagination.html"  direction-links="true" undary-links="true"></dir-pagination-controls>
										</div>
									</div>

	       					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
	

	  <!--start of map section--> 
    <div class="show-load-map-section show-map-on-top" ng-show="showRouteOnMap == true">
		<div class="commen-heading iteration-map load-margin">
			<h2 class="oprate-dashbord">{{languageArray.routeMap}}</h2>
		</div>
		<section class="map-distance-detail map-itinerary-detail-cover">
					<div class="map-itinerary-heading">
						<!--a class="click-arrow" href=""><img src="pages/img/itneryarrow-right.png"></a-->
						<h2 class="">{{ languageArray.planitineraydetail }}</h2>
					</div>
				<div class="map-distance-detail-inner map-distance-detail-white">
					<div class="map-distance-detail-cover">
						<div class="map-distance-detail-boxes">
							<figure>
								<img src="pages/img/distance-iconblack.png">
							</figure>
							<span class="map-distance-detail-text">
								<p><strong>{{ languageArray.plantotaldistance }}</strong><br>{{ totalMiles }} {{ languageArray.planthmiles }}</p>
							</span>
						</div>
						<div class="map-distance-detail-boxes">
							<figure>
								<img src="pages/img/dead-miles-iconblack.png">
							</figure>
							<span class="map-distance-detail-text">
								<p><strong>{{ languageArray.planthdeadmiles }}</strong><br>{{ totalDeadMiles }} {{ languageArray.planthmiles }}</p>
							</span>
						</div>
						<div class="map-distance-detail-boxes">
							<figure>
								<img src="pages/img/time-iconblack.png">
							</figure>
							<span class="map-distance-detail-text">
								<p><strong>{{ languageArray.planthtime }}</strong><br>{{ totalWorkingHours }} {{ languageArray.planthhours }}</p>
							</span>
						</div>
						<div class="map-distance-detail-boxes">
							<figure>
								<img src="pages/img/profit-iconblack.png">
							</figure>
							<span class="map-distance-detail-text">
								<p><strong>{{ languageArray.planthprofit }}</strong><br>{{ totalProfitPercent }} %</p>
							</span>
						</div>
					</div>
				</div>        		
				<div class="map-itinerary-detail-editing" ng-class="{ 'trashme' : rows.deleted == true }"  ng-repeat="(key, rows)  in newRowsArray">
					<div ng-show="rows.deleted == false" class="load-marker" ng-click="focusTo(rows.OriginCity,rows.OriginState,'USA',rows.DestinationCity,rows.DestinationState,'USA' )">
							<!-- <img src="http://www.googlemapsmarkers.com/v1/{{toChar(key)}}/224C16/FFFFFF/224C16" />	 -->
							<img ng-src="{{getImageMarker(toChar(key),'G')}}" />	
					</div>
					<div class="map-itinerary-detail-name" >                    	
						<div>
							<span ng-show="rows.deleted == false">{{ rows.OriginCity|capitalize }} {{ rows.OriginState|capitalize }}</span>
						</div>
						<div>
							<span ng-show="rows.deleted == false" >{{ rows.DestinationCity|capitalize }} {{ rows.DestinationState|capitalize }} </span>
						</div>
					</div>
					<ul>
						<li><a data-toggle="tooltip" data-original-title="{{languageCommonVariables.specialInfo}}" ui-jq="tooltip" ng-show="rows.deleted == false" ng-click="fetchSpecialNote(value.ID)"><img src="pages/img/info-icon.png"></a></li>
						<li><a data-toggle="tooltip" data-original-title="{{languageCommonVariables.loadDetail}}" ui-jq="tooltip" ng-show="rows.deleted == false" ng-click="clickMatchLoadDetail(rows.ID,'',rows.deadmiles,rows.Payment,rows.TotalCost,rows.pickDate,'plan:'+$index)"><img src="pages/img/search-icon.png"></a></li>
						<li><a data-toggle="tooltip" data-original-title="{{languageCommonVariables.removefromIternary}}" ui-jq="tooltip" ng-show="rows.deleted == false" ng-click="removeItenaryLoadSide(rows.ID,$event,rows.PickUpDate,rows.OriginDistance,$index,rows)"><img src="pages/img/delete-icon.png"></a></li>
						<li><a data-toggle="tooltip" data-original-title="{{languageCommonVariables.searchFrom}}" ui-jq="tooltip" ng-show="rows.deleted == false" ng-click="getRepitionData(rows,tableTitle[0],$event,$index,true)"><img src="pages/img/distance-icongray.png"></a></li>
					</ul>
				</div>
			   
			   
		</section>
		<div class="show-google-map-route" ng-show="showRouteOnMap == true">
			<div id="map_canvas" style="height:600px; position: relative; overflow: hidden;"></div>            
		</div>
    </div>
     <!--end of map section-->
	<div class="commen-heading hos-heading load-margin" ng-show="showGantt == true">
		<h2 class="oprate-dashbord">{{languageArray.hoursOfService}}</h2>
	</div>
	<!-- DatePicker -->
	<div class="hos-daily" style="margin-top: 10px; float: left;width: 100%; text-align:right"  ng-show="showGantt == true">
		<button type="button" ng-click="updateDashboard('prev')"><i class="fa fa-chevron-left"></i></button>
		<div class="hos-selected-date" style="display: inline-block;">{{displayHOSDate}}</div>
		<button type="button" ng-click="updateDashboard('next')"><i class="fa fa-chevron-right"></i></button>
	</div>
	<!-- DatePicker -->
	<div class="row invocie-block-row">
		<div class="col-md-12 col-xlg-12">
			<div id="gantt-height" ng-show="showGantt == true"> 
				<div class="gantt-chart" >
					<div gantt
						 data="data"
						timespans="timespans"
						show-side="options.labelsEnabled"
						daily="options.daily"
						filter-task="{'name': options.filterTask}"
						filter-row="{'name': options.filterRow}"
						sort-mode="options.sortMode"
						view-scale="options.scale"
						column-width="getColumnWidth(options.width, options.scale, options.zoom)"
						auto-expand="options.autoExpand"
						task-out-of-range="options.taskOutOfRange"
						from-date = "options.fromDate"
						to-date = "options.toDate"
						allow-side-resizing = "options.allowSideResizing"
						task-content = "options.taskContentEnabled ? options.taskContent : undefined"
						row-content = "options.rowContentEnabled ? options.rowContent : undefined"
						current-date="options.currentDate"
						current-date-value="options.currentDateValue"
						headers="options.width && options.shortHeaders || options.longHeaders"
						headers-formats="headersFormats"
						max-height="options.maxHeight && 300 || 0"
						time-frames="options.timeFrames"
						date-frames="options.dateFrames"
						time-frames-non-working-mode="options.timeFramesNonWorkingMode"
						time-frames-magnet="options.timeFramesMagnet"
						api="options.api"
						column-magnet="options.columnMagnet">
						<gantt-tree enabled="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'"
									header-content="options.treeHeaderContent"
									keep-ancestor-on-filter-row="true">
						</gantt-tree>
						<gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'"
									 columns="options.sideMode === 'TreeTable' ? options.treeTableColumns : options.columns"
									 headers="options.columnsHeaders"
									 classes="options.columnsClasses"
									 formatters="options.columnsFormatters"
									 contents="options.columnsContents"
									 header-contents="options.columnsHeaderContents">
						</gantt-table>
						<gantt-groups enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview' || options.groupDisplayMode === 'promote'" display="options.groupDisplayMode"></gantt-groups>
						<gantt-tooltips template-url="assets/plugins/angular-gantt/angular-tooltip/tooltip.tmpl.html" ></gantt-tooltips>
						<gantt-bounds></gantt-bounds>
						<gantt-progress></gantt-progress>
						<gantt-sortable></gantt-sortable>
						<gantt-movable enabled="!options.readOnly"></gantt-movable>
						<gantt-draw-task
							enabled="options.canDraw"
							move-threshold="2"
							task-factory="options.drawTaskFactory">
						</gantt-draw-task>
						<gantt-overlap></gantt-overlap>
						<gantt-resize-sensor></gantt-resize-sensor>
					</div>
					
				</div>
				<div class="hos-totals">
					<div class="trow">
						<div class="total-duty-hrs">{{languageArray.totalHours}}</div>
						<label>{{offDuty}}</label>
						<label>{{SB}}</label>
						<label>{{driving}}</label>
						<label>{{onDuty}}</label>
					</div>
				</div>
				<div class="last-row-custom">
					<div class="remarks-bar">{{languageArray.remarks}}</div>
					<div class="remarks-bar-right">{{thours}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- start of bottm table -->
<ng-include src="'./assets/templates/truckstop/iteration_modal.html'"></ng-include>
<ng-include src="'./assets/templates/truckstop/modals.html'"></ng-include>
<style>
.show-google-map-route {
  float: left;
  width: 100%;
  margin-top:20px;
  border: 4px solid #34d6c7;
}

</style>

<script>
$(document).ready(function(){
	$('.itinery-section-inner h4 a').click(function(){
		$('.itinery-section').toggleClass('slide-close');
		$('.itinery-distance-detail').toggleClass('slide-fullwidth');
	});
});
</script>
<script>
	$(document).ready(function(){
	var mainHeight = $(window).height();
	var head = 0;
	var ganttHeight = 0;
	var bodyHeight = mainHeight-(ganttHeight+head);
	var dataHeight = (bodyHeight/2)+100;
	var mapHeight = bodyHeight/2;
	$("#map_canvas").height(mapHeight);
	//$(".change-table-height").css('max-height',dataHeight);
	$(".map-distance-detail").css('max-height',mapHeight);
});
</script>
<script>
$(document).ready(function(){
		$('.click-arrow').click(function(){
			$('.map-itinerary-detail-cover').toggleClass('open-itninery-detail');
			
			});
	});
</script>
