
<!-- START PAGE CONTENT WRAPPER -->
<div class="page-content-wrapper ">
	<!-- START PAGE CONTENT -->
	<div class="content sm-gutter">
	<!-- START CONTAINER FLUID -->
		<div class="container-fluid padding-25 sm-padding-10">
			<div ng-show="dataNotFound == true" class="alert alert-danger" role="alert">
				<button ng-click = "hideloadmessage()" class="close"></button>
				{{errorMessage}}
			</div>
			<div class="row">
				<div class="col-md-12 col-xlg-12">
				<!--h2 class="oprate-dashbord">Truck</h2-->
					<div class="commen-heading trailer-page">
						<h2 class="oprate-dashbord">{{trailerHeading}}</h2>
					</div>
				</div>
			</div>
			<div class="col-middle loader-outer" ng-show = "triumphLoader == true">
					<!-- START PANEL -->
				<div class="loader-inner">
					<div class="full-height">
						<div class="panel-body text-center">
							<img class="image-responsive-height demo-mw-50" src="assets/img/demo/progress.svg" alt="Progress">
						</div>
					</div>
				</div>
					<!-- END PANEL -->
					
            </div>
			<div class="row new-block-padding	">
				<div class="col-lg-12 col-md-12">
					<div class="panel panel-transparent">
						<div class="panel-body">
							<form id="form-project" name="newTrailer" role="form" autocomplete="off" ng-submit="newTrailer.$valid && saveTrailer(submitType)" novalidate >
								

								<!--row-->
								<div class="row clearfix">
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default th-select">
											<label>{{languageArray.trailerTruckeNumber }}</label>
											<ui-select class="mdrivers" ng-model="trailerData.truck_id" theme="bootstrap" on-select="onSelectTruckCallback($item, $model);">
													<ui-select-match class="ui-select-match" placeholder="Select Truck">{{trailerData.truckName}}</ui-select-match>
													<ui-select-choices class="ui-select-choices" repeat="item in trucksList | filter: $select.search">
														<span ng-bind-html="trustAsHtml((item.vehicleName | highlight: $select.search))"></span>
													</ui-select-choices>
											</ui-select>
										</div>
									</div>
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error':newTrailer.trailerUnitId.$invalid && !newTrailer.trailerUnitId.$pristine || newTrailer.$submitted && newTrailer.trailerUnitId.$invalid}">
											<label>{{languageArray.trailerUnitId }}</label>
											<input type="text" class="form-control" name="trailerUnitId" ng-model="trailerData.unit_id" ng-change="checkTrailerUnitExist(trailerData.unit_id, trailerData.id)" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" required />
										</div>
										<label class="error" for="drivername" ng-show="newTrailer.trailerUnitId.$invalid && !newTrailer.trailerUnitId.$pristine || newTrailer.$submitted && newTrailer.trailerUnitId.$invalid">Please enter trailer unit id.</label>
									</div>
								</div>
								<!--row-end-->
								
								<input type="hidden" name="id" ng-model="trailerData.id" />
								<!--row-->
								<div class="row clearfix">
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error':newTrailer.year.$invalid && !newTrailer.year.$pristine || newTrailer.$submitted && newTrailer.year.$invalid}">
											<label>{{languageArray.trailerYear }}</label>
											<input type="text" class="form-control" name="year" ng-model="trailerData.year" required ng-pattern="/^(\d)+$/"/>
										</div>
										<label class="error" for="year" ng-show="newTrailer.$submitted && !newTrailer.year.$error.pattern && newTrailer.year.$error.required">Please enter trailer year.</label>		
										<label class="error" for="year" ng-show="newTrailer.year.$error.pattern">Please enter valid year number.</label>
									</div>
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error':newTrailer.vin.$invalid && !newTrailer.vin.$pristine || newTrailer.$submitted && newTrailer.vin.$invalid}">
											<label>{{languageArray.trailerVin }}</label>
											<input type="text" class="form-control" name="vin" ng-model="trailerData.vin" required />
										</div>
										<label class="error" ng-show="newTrailer.vin.$invalid && !newTrailer.vin.$pristine || newTrailer.$submitted && newTrailer.vin.$invalid">Please enter trailer vin.</label>
									</div>
								</div>
								<!--row-end-->
								<!--row-->
								<div class="row clearfix">
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerOwner }}</label>
											<input type="text" class="form-control" name="owner" ng-model="trailerData.owner" >
										</div>
									</div>
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerType }}</label>
											<input type="text" class="form-control" name="type" ng-model="trailerData.type">
										</div>
									</div>
								</div>
								<!--row-end-->
								<!--row-->
								<div class="row clearfix">
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerDescription }}</label>
											<input type="text" class="form-control" name="description" ng-model="trailerData.description">
										</div>
									</div>
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerMonthlyPayment }}</label>
											<input type="text" class="form-control" name="payment" ng-model="trailerData.monthly_payment" data-a-sign="$" ui-jq="autoNumeric" ui-options="'init'" >
										</div>
									</div>
								</div>
								<!--row-end-->
								<!--row-->
								<div class="row clearfix">
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerDueDate }}</label>
											<div class="input-group date" ui-jq="datepicker" ui-options='{format: "yyyy-mm-dd",autoclose: true}'>
												<input type="text" ng-click="refreshDatepicker($event)" ng-model="trailerData.due_date"  class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerPurchasePrice }}</label>
											<input type="text" class="form-control" name="purchase_price" ng-model="trailerData.purchase_price" data-a-sign="$" ui-jq="autoNumeric" ui-options="'init'" >
										</div>
									</div>
								</div>
								<!--row-end-->
								<!--row-->
								<div class="row clearfix">
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerInterestRate }}</label>
											<input type="text" class="form-control" name="interest_rate" ng-model="trailerData.interest_rate">
										</div>
									</div>
									<div class="col-sm-6">
										<div pg-form-group class="form-group form-group-default">
											<label>{{languageArray.trailerNote }}</label>
											<input type="text" class="form-control" name="notes" ng-model="trailerData.notes">
										</div>
									</div>
								</div>
								
								<div class="row clearfix">
									<div class="col-sm-6">
										
										<div ng-show="trailerAddEditType == 'add'" id="addDocs" class="dropzone" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfigTrailerAdd" ></div>
										<div ng-show="trailerAddEditType != 'add' " id="editDocs" class="dropzone" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfigTrailerEdit" ></div>
									</div>
									<div class="col-sm-6">
										<section class="truck-load-pdf no-margin-top">
                                            <div class="truck-load-pdf-left" ng-repeat="docs in trailerDocs">
												<div class="row1">
													<button class="btn btn-danger" type="button" ng-click="deleteDocument(docs.id,docs.document_name, $index);">X</button>
													<div class="pdf-cover" data-url="assets/uploads/documents/trailer/{{docs.document_name}}" ng-click="perviewDoc($event)">
														<img ng-src="assets/uploads/documents/thumb_trailer/thumb_{{docs.document_name | filetoimg}} " on-error-src="pages/img/pdf.png" />
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!--row-end-->
								<div class="update-truck-block-btn">
									<button class="btn btn-primary btn-cons m-b-10" type="submit"><i class="fa fa-plus"></i><span class="bold"> {{ saveButton |capitalize }} </span>
									</button>
									<a href="#/trailers"><button class="btn btn-danger btn-cons m-b-10" type="button"><i class="fa fa-ban"></i><span class="bold"> {{ languageCommonVariables.cancelbutton|capitalize }} </span></button></a>
								</div>
							</form>
						</div>
					<!---->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Confirm Delete Modal For Documents already uploaded-->
<div class="modal fade stick-up confirm-delete " id="changeTruckOnTrailer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="popup-overlay">
		<div class="popup-main">
			<div class="popup-main-table">
				<div class="popup-table-cell">
					<div class="billing-confirm confirm-main-content-">
						<!--div class="popconfirm-img">
							<img src="pages/img/confirm-icon.png">
						</div-->
						<h2 class="confirm-heading">{{ languageCommonVariables.confirmMessage }} Update?</h2>
						<div class="user-msg-main">
							This truck is already associated with trailer Unit-{{trailerUnit}}. Do you still want to update it?
						</div>
						<div class="line-image">
							<img src="pages/img/confirm-line.png">
						</div>
						
						
						<div class="confirm-btn-section">
							<a href="" class="common-item confirm-yes yes-btn" data-dismiss="modal" ng-click="changeTrailerOrNot('yes')"><button class="btn btn-primary btn-cons m-b-10" type="button"><i class="fa fa-check"></i> <span class="bold"> {{ languageCommonVariables.confirmdeleteyes|capitalize }} </span>
								</button></a>
							<a href="" class="common-item no-btn" data-dismiss="modal" ng-click="changeTrailerOrNot('no')"><button class="btn btn-danger btn-cons m-b-10" type="button"><i class="fa fa-close"></i><span class="bold"> {{ languageCommonVariables.confirmdeleteno|capitalize }} </span></button></a>
						</div>
						<!--a href="" data-dismiss="modal" class="confirm-cancle-btn" ><img src="pages/img/confirm-cancle.png"></a-->
					</div>
				</div>
			</div>
		</div>
	</div>
<!--table-full-width  -->
</div>
