      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid padding-25 sm-padding-10">
			<div class="row">
				<div class="col-md-12 col-xlg-12">
					<div ng-show="alertmsg == true" class="alert alert-success" role="alert">
						<button class="close" data-dismiss="alert"></button>
						{{Message}}
						</div>
						<div ng-show="alertdeletemsg == true" class="alert alert-error" role="alert">
						<button data-dismiss="alert" class="close"></button>
						{{errMessage}}
						</div>
					<div class="commen-heading trailer-page">
						<h2 class="oprate-dashbord">{{languageArray.trailerHeading}}</h2>
					</div>
					
				</div>
			</div>
			
			<div class="row invocie-block-row">
				<div class="col-md-12 col-xlg-12">
					<div class="load-new-block-table">
						<div class="panel-body add-new-data">
							<div class="load-tabe-auto map-load-section">
								<a href="#/addTrailer" class="add-new-data-button">
									<button class="btn btn-primary">
										<i class="fa fa-plus" style="margin-right:3px"></i>
										<span class="bold">{{languageArray.addTrailer}}</span>
									</button>
								</a>

								<a href="" class="add-new-data-button" style="right: 150px;" ng-click="exportCsvData('trailers')">
  									<button title="Export Drivers" class="btn btn-primary btn-cons m-b-10" type="button">
  										<i class="fa fa-file-excel-o"></i> 
  										<span class="bold">Export</span>
  									</button>
      							</a>
      							
								<table datatable="ng" dt-options="dtOptions" class=" table tr-hover table-hover table-striped driver-table" id="tableWithExportOptions">
									<thead>
										<tr>
											<th>{{languageArray.trailerUnit }}</th>
											<th>{{languageArray.truckNumbetTableTh }}</th>
											<th>{{languageArray.trailerYear }}</th>
											<th>{{languageArray.trailerVin }}</th>
											<th>{{languageArray.trailerOwner }}</th>
											<th>{{languageArray.trailerType }}</th>
											<th>{{languageArray.trailerDescription }}</th>
											<th class="text-center">{{ languageCommonVariables.commonTableThAction }}</th>
										</tr>
									</thead>
									<tbody>
										
										<tr ng-repeat="value in trailers track by value.id" >
											
											<td>{{ value.unit_id }} </td>
											<td>{{ value.label }}</td>
											<td>{{ value.year }}</td>
											<td>{{ value.vin }}</td>
											<td>{{ value.owner }} </td>
											<td>{{ value.type}} </td>
											<td>{{ value.description}} </td>										
											<td class="text-center action-btn-ryt"> 
												<div class="export-options-container">
													<div class="exportOptions">
														<div class="DTTT btn-group">
															<a href="#/editTrailer/{{value.id}}" class="btn btn-default DTTT_button_pdf" title="{{languageCommonVariables.editTrailer}}" ui-jq="tooltip" >
																<span><i class="fa fa-edit" aria-hidden="true"></i></span>
															</a>
															<!--a class="btn btn-default DTTT_button_copy" title="{{languageCommonVariables.deleteTrailer}}" ui-jq="tooltip" ng-click='removeTrailer(value.id,$index)' >
																<span><i class="fa fa-trash" aria-hidden="true"></i></span>
															</a-->
															<a class="btn btn-default DTTT_button_csv" title="{{languageCommonVariables.deactivateTrailer}}" ui-jq="tooltip" ng-click="changeTrailerStatus(value.id,value.status,$index)" ng-if="value.status == 1">
																<span><i class="fa fa-check-square"></i></span>
															</a>
															<a class="btn btn-default DTTT_button_csv" title="{{languageCommonVariables.activateTrailer}}" ui-jq="tooltip" ng-click="changeTrailerStatus(value.id,value.status,$index)" ng-if="value.status == 0 || value.status == ''">
																<span><i class="fa fa-square-o"></i></span>
															</a>
															<a class="btn btn-default DTTT_button_csv" data-original-title="{{languageCommonVariables.exportCSV}}" ui-jq="tooltip" ng-click="exportCsv($event,'trailers',value.id)">
																<span><i class="pg-grid"></i></span>
															</a>
														</div>
													</div>
												</div>
												
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'./assets/templates/common_modals.html'"></ng-include>
