
<!-- Confirm Delete Modal -->

<div class="modal fade stick-up confirm-delete " id="black-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="popup-overlay">
		<div class="popup-main">
			<div class="popup-main-table">
				<div class="popup-table-cell">
					<div class="confirm-main-content-">
						<div class="popconfirm-img">
							<img src="pages/img/confirm-icon.png">
						</div>
						<h2 class="confirm-heading">{{ languageCommonVariables.confirmMessage }} {{ languageCommonVariables.commonBlackList }}?</h2>
						<div class="line-image">
							<img src="pages/img/confirm-line.png">
						</div>
						<div class="confirm-btn-section">
							<a href="" class="common-item confirm-yes yes-btn" ng-click="confirmBlackList('yes')"><button class="btn btn-primary btn-cons m-b-10" type="button"><i class="fa fa-check"></i> <span class="bold"> {{ languageCommonVariables.confirmdeleteyes|capitalize }} </span>
								</button></a>
							<a href="" class="common-item no-btn" ng-click="confirmBlackList('no')"><button class="btn btn-danger btn-cons m-b-10" type="button"><i class="fa fa-close"></i><span class="bold"> {{ languageCommonVariables.confirmdeleteno|capitalize }} </span></button></a>
						</div>
						<!--a href="" data-dismiss="modal" class="confirm-cancle-btn" ><img src="pages/img/confirm-cancle.png"></a-->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	table-full-width  -->
</div>
<!-- Confirm Delete Modal -->

<!-- Confirm Delete Modal -->

<div class="modal fade stick-up confirm-delete " id="driver-list-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="popup-overlay">
		<div class="popup-main">
			<div class="popup-main-table">
				<div class="popup-table-cell">
					<div class="confirm-main-content-">
						<div class="popconfirm-img">
							<img src="pages/img/confirm-icon.png">
						</div>
						<h2 class="confirm-heading">{{ languageCommonVariables.confirmMessage }} {{ languageCommonVariables.commonTableThStatus }}?</h2>
						<div class="line-image">
							<img src="pages/img/confirm-line.png">
						</div>
						<div class="confirm-btn-section">
							<a href="" class="common-item confirm-yes yes-btn" ng-click="confirmDriverStatus('yes')"><button class="btn btn-primary btn-cons m-b-10" type="button"><i class="fa fa-check"></i> <span class="bold"> {{ languageCommonVariables.confirmdeleteyes|capitalize }} </span>
								</button></a>
							<a href="" class="common-item no-btn" ng-click="confirmDriverStatus('no')"><button class="btn btn-danger btn-cons m-b-10" type="button"><i class="fa fa-close"></i><span class="bold"> {{ languageCommonVariables.confirmdeleteno|capitalize }} </span></button></a>
						</div>
						<!--a href="" data-dismiss="modal" class="confirm-cancle-btn" ><img src="pages/img/confirm-cancle.png"></a-->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	table-full-width  -->
</div>
<!-- Confirm Delete Modal -->

<!-- Confirm Delete Modal -->

<div class="modal fade stick-up confirm-delete " id="vehicle-list-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="popup-overlay">
		<div class="popup-main">
			<div class="popup-main-table">
				<div class="popup-table-cell">
					<div class="confirm-main-content-">
						<div class="popconfirm-img">
							<img src="pages/img/confirm-icon.png">
						</div>
						<h2 class="confirm-heading">{{ languageCommonVariables.confirmMessage }} {{ languageCommonVariables.commonTableThStatus }}?</h2>
						<div class="line-image">
							<img src="pages/img/confirm-line.png">
						</div>
						<div class="confirm-btn-section">
							<a href="" class="common-item confirm-yes yes-btn" ng-click="confirmVehicleStatus('yes')"><button class="btn btn-primary btn-cons m-b-10" type="button"><i class="fa fa-check"></i> <span class="bold"> {{ languageCommonVariables.confirmdeleteyes|capitalize }} </span>
								</button></a>
							<a href="" class="common-item no-btn" ng-click="confirmVehicleStatus('no')"><button class="btn btn-danger btn-cons m-b-10" type="button"><i class="fa fa-close"></i><span class="bold"> {{ languageCommonVariables.confirmdeleteno|capitalize }} </span></button></a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	table-full-width  -->
</div>
<!-- Confirm Delete Modal -->









