<!-- particles.js container -->
<div id="particles-js"></div>

<div>
	<div class="login-head">
		<img src ='assets/img/vikalogo.png'  alt = ''>
	</div>
	<div class="login-main">
		<div class="login-outer">
			<div class="alert alert-danger" role="alert" ng-if="forgot.errorMessage != ''">
				<button class="close" ng-click = "forgot.hideMessage()"></button>
				{{forgot.errorMessage}} 	
			</div>
			<img src ='assets/img/login-img.png' class = 'login-img' alt = '' >
			<div class="login-inner-head">
				<h4 class="ng-binding" >{{ languageCommonVariables.FrogotPassword }}</h4>
			</div>
			<form name="forgotForm" id="form-login" class="p-t-15 " role="form">
				<!-- START Form Control-->
				<div class="form-group form-group-default login-form-class">
					<label>{{ languageCommonVariables.email }}</label>
					<div class="controls">
						<input type="email" class="form-control" placeholder="{{ languageCommonVariables.EmailReq }}" name="email" ng-model="forgot.email" required focus/>
					</div>
				</div>
				<label class="error" for="email" ng-show="forgotForm.email.$invalid && !forgotForm.email.$pristine">{{ languageCommonVariables.validationEmail }}</label>
				<!-- END Form Control-->
				<div class="login-btn-main">
					<button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="forgot.setForgotPassword()" data-ng-disabled="forgotForm.$invalid">{{ languageCommonVariables.Submit }}</button>
				</div>
			</form>
			<div class="bottom-fg-pass">
				<a ui-sref="login" >Back to login</a>
			</div>
		</div>
	</div>
</div>

<script src="assets/js/particles/particles.js"></script>
<script src="assets/js/particles/app.js"></script>