<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar" pg-sidebar>
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top port-box" id="appMenu">

        <div class="row">
          <div class=" portrait-box vis-{{visibility[1]}}" ng-click= "selectPortlet($event,'1')">
            <img src="assets/images/{{visibility[1] ==1 ? 'best-safety.jpg' : 'best-safety1.jpg'}}" alt="Best Safety">
        </div>
        <div class=" portrait-box vis-{{visibility[6]}}" ng-click= "selectPortlet($event,'6')">
            <img src="assets/images/{{visibility[6] ==1 ? 'top-customer.jpg' : 'top-customer1.jpg'}}" alt="Top five customer">
        </div>
    </div>

    <div class="row">
        <div class=" portrait-box vis-{{visibility[9]}}" ng-click= "selectPortlet($event,'9')">
            <img src="assets/images/{{visibility[9] ==1 ? 'Load-Status.jpg' : 'Load-Status1.jpg'}}" alt="Best Safety">
        </div>
        <div class=" portrait-box vis-{{visibility[8]}}" ng-click= "selectPortlet($event,'8')">
            <img src="assets/images/{{visibility[8] ==1 ? 'weather-info.jpg' : 'weather-info1.jpg'}}" alt="Weather Info">
        </div>
    </div>
    <div class="row">
        <div class=" portrait-box vis-{{visibility[7]}}" ng-click= "selectPortlet($event,'7')">
            <img src="assets/images/{{visibility[7] ==1 ? 'leader-boad.jpg' : 'leader-boad1.jpg'}}" alt="Leader Board">
            
        </div>
        <div class=" portrait-box vis-{{visibility[4]}}" ng-click= "selectPortlet($event,'4')">
            <img src="assets/images/{{visibility[4] ==1 ? 'truck-location.jpg' : 'truck-location1.jpg'}}" alt="Truck Location">
        </div>
    </div>
    <div class="row">
        <div class=" portrait-box vis-{{visibility[3]}}" ng-click= "selectPortlet($event,'3')">
            <img src="assets/images/{{visibility[3] ==1 ? 'driver-messages.jpg' : 'driver-messages1.jpg'}}" alt="Driver Messages">
            
        </div>
        <div class=" portrait-box vis-{{visibility[5]}}" ng-click= "selectPortlet($event,'5')">
            <img src="assets/images/{{visibility[5] ==1 ? 'news-feed.jpg' : 'news-feed1.jpg'}}" alt="News Feed">
        </div>
    </div>

    <div class="row">
        <div class=" portrait-box vis-{{visibility[2]}}" ng-click= "selectPortlet($event,'2')">
            <img src="assets/images/{{visibility[2] ==1 ? 'capacity.jpg' : 'capacity1.jpg'}}" alt="Capacity Analysis">        
        </div>
        <div class=" portrait-box vis-{{visibility[10]}}" ng-click= "selectPortlet($event,10)">
            <img src="assets/images/{{visibility[10] ==1 ? 'today-insights.jpg' : 'today-insights1.jpg'}}" alt="Today Insights">
        </div>
    </div>

    <div class="row">
        <div class=" portrait-box vis-{{visibility[11]}}" ng-click= "selectPortlet($event,11)">
            <img src="assets/images/{{visibility[11] ==1 ? 'quick-updates.jpg' : 'quick-updates1.jpg'}}" alt="Quick Updates">
        </div>
    </div>
</div>
<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
<!-- BEGIN SIDEBAR MENU HEADER-->
<div class="sidebar-header">
    <!--img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" class="logo-main-block"-->
    <img src="assets/img/vikalogo2.png" alt="logo" class="brand" data-src="assets/img/vikalogo2.png" data-src-retina="assets/img/logo_white_2x.png" class="logo-main-block">
    <div class="sidebar-header-controls">
      <!-- <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"> -->
      <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu" ng-click = "showHidePortlet()" title="Portlet">
        <i class="fa fa-angle-down fs-16"></i>
    </button>
          <!-- <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar">
            <i class="fa fs-12"></i>
        </button> -->
    </div>
</div>
<!-- END SIDEBAR MENU HEADER-->
<!-- START SIDEBAR MENU -->
<div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
      <li class="m-t-30 ">
        <a class="test" href="#/dashboard" class="detailed">
          <span class="title">{{ languageCommonVariables.dashboard }}</span>
          <!--span class="details">12 New Updates</span-->

          <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span></a>
      </li>
      <li ng-class="{'open active':(state=='plan' || state=='myLoad' || state=='search' || state=='AutoLoad') }"> 

        <a class="test" href="javascript:;"><span class="title">{{ languageCommonVariables.loads }}</span>
          <span class=" arrow" ng-class="{'open active':(state=='plan' || state=='myLoad' || state=='search' || state=='AutoLoad') }"></span>

          <span class="icon-thumbnail"><i class="icon-pg loads"></i></span></a>

          <ul class="sub-menu">
           <li class="">
              <a href="#/plan">{{ languageCommonVariables.plan }}
                  <span class="icon-thumbnail">{{ languageCommonVariables.planPl }}</span></a>
              </li>
    					<!--li class="">
    						<a href="#/autoGenerate">AutoLoad</a>
    						<span class="icon-thumbnail">AL</span>
    					</li-->
    					<li class="">
    						<a href="#/myLoad">{{ languageCommonVariables.assignedLoads }}
                              <span class="icon-thumbnail">{{ languageCommonVariables.assignedLoadsAl }}</span></a>
                          </li>
                      </ul>
                  </li>
                  <li>
                    <a class="test" href="#/drivers"><span class="title">{{ languageCommonVariables.driver }}</span>
                        <span class="icon-thumbnail"><i class="icon-pg drivers"></i></span>
                    </a>

                </li>
                <li ng-class="(state=='trucks' || state=='trailers') ? 'open active' : ''">
                    <a class="test" href="javascript:void(0)">
                      <span class="title">{{ languageCommonVariables.vehicles }}</span>
                      <span class=" arrow" ng-class="{'open active':(state=='trucks' || state=='trailers' || state=='maintenance') }"></span>

                      <span class="icon-thumbnail"><i class="icon-pg trucks vehicles"></i></span></a>
                      <ul class="sub-menu">
                          <li>
                            <a  href="#/trucks">{{ languageCommonVariables.truck }}
                                <span class="icon-thumbnail">tr</span></a>
                            </li>
                            <li>
                                <a  href="#/trailers">{{ languageCommonVariables.trailer }}
                                    <span class="icon-thumbnail">tl</span></a>
                                </li>
              <!-- <li>
                <a  href="#/maintenance">{{ languageCommonVariables.maintenance }}</a>
                <span class="icon-thumbnail">MN</span>
              </li> 
    			<li>
    				<a class="test" href="#"><span class="title">{{ languageCommonVariables.safety }}</span></a>
    				<span class="icon-thumbnail"><i class="icon-pg safety"></i></span>
    			</li>  -->
            </ul>
        </li>
        <li>
            <a class="test" href="#/broker"><span class="title">{{ languageCommonVariables.broker }}</span>
                <span class="icon-thumbnail"><i class="fa fa-stack-exchange" aria-hidden="true"></i></span>
            </a>

        </li>
        <li>
            <a class="test" href="#/shipper"><span class="title">{{ languageCommonVariables.shipper }}</span>
                <span class="icon-thumbnail"><i class="fa fa-stack-exchange" aria-hidden="true"></i></span>
            </a>

        </li>

        <li ng-if="loggedUserRoleId == 3 || loggedUserRoleId == 1 || loggedUserRoleId == 5"> 
            <a class="test" href="#/billingDashboard"><span class="title">Billing</span>
                <span class="icon-thumbnail"><i class="icon-pg fa fa-usd" aria-hidden="true"></i></span>
            </a>

           <!--a class="test" href="javascript:void(0);"><span class="title">{{ languageCommonVariables.billing }}</span>
            <span class=" arrow" ng-class="{'open active':(state=='billing' || state=='sendForPayment') }"></span>
            <span class="icon-thumbnail"><i class="icon-pg fa fa-usd"></i></span> 
        </a-->

        <!--ul class="sub-menu">
            <li class="">
              <a href="#/billingDashboard">Billing Dashboard
                  <span class="icon-thumbnail">bd</span></a>
            </li>
            <li class="">
              <a href="#/billing">{{ languageCommonVariables.billingHeading }}
                  <span class="icon-thumbnail">bl</span></a>
            </li>
            <li class="">
                  <a href="#/sendForPayment">{{ languageCommonVariables.sendForPayment}}
                      <span class="icon-thumbnail">sp</span></a>
            </li>
            <li class="">
                  <a href="#/sendDirectPayment">Send Direct Payment
                      <span class="icon-thumbnail">dp</span></a>
            </li>
        </ul-->
    </li>
    <li ng-if="loggedUserRoleId != 6 && loggedUserRoleId != 4">
        <a class="test" href="#/reports">
            <span class="title">{{ languageCommonVariables.reports }}</span>
            <span class="icon-thumbnail"><i class="fa fa-bar-chart-o" aria-hidden="true"></i></span>
        </a>
    </li>

    <li ng-class="(state=='trucks' || state=='trailers') ? 'open active' : ''">
        <a class="test" href="javascript:void(0)">
          <span class="title">Organization</span>
          <span class=" arrow" ng-class="{'open active':(state=='trucks' || state=='trailers' || state=='maintenance') }"></span>

          <span class="icon-thumbnail"><i class="icon-pg trucks vehicles"></i></span></a>
          <ul class="sub-menu">
            <li>
                <a  href="#/organization">Organization
                    <span class="icon-thumbnail">tr</span>
                </a>
            </li>
            <li>
                <a  href="#/manage">Manage
                    <span class="icon-thumbnail">tl</span>
                </a>
            </li>
            <li>
                <a href="#/roles">Roles
                    <span class="icon-thumbnail">tl</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="(state=='trucks' || state=='trailers') ? 'open active' : ''">
        <a href="javascript:void(0)">
          <span class="title">Users</span>
          <span class=" arrow" ng-class="{'open active':(state=='trucks' || state=='trailers' || state=='maintenance') }"></span>
          <span class="icon-thumbnail">
            <i class="fa fa-users"></i></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="#/users">Users List
                    <span class="icon-thumbnail">
                        <i class="fa fa-user-plus"></i>
                    </span>
                </a>
            </li>
        </ul>
    </li>

</ul>
<div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->

