<div class="page-content-wrapper">
	<div class="content sm-gutter">
		<div class="container-fluid padding-25 sm-padding-10">
			<div class="row">
				<div class="col-md-12 col-xlg-12">
					<div class="commen-heading">
						<h2 class="oprate-dashbord" style="padding-left: 0px;">
							<i class="fa fa-building" aria-hidden="true"></i> {{ languageArray.manageFeature }}{{companyName}}
						</h2>
						<div ng-show="alertmsg == true" class="alert alert-success" role="alert">
							<button class="close" ng-click="acl.hidemessage()"></button>						
							{{message}}
						</div>
					</div>
				</div>
			</div>
			<div class="row invocie-block-row ">
				<div class="col-md-12 col-xlg-12">
					<div class="load-new-block-table check-outer-block-list">
                        <div class="add-new-data fix-page">
							<div class="load-tabe-auto map-load-section">
								<div class="truck-detail-block">
	                                  <div class="truck-detail-heading controller-listing truck-detail-selectAll" >
	                                    <div class="check-box-listing-blk">
	                                        <input type="checkbox" id="checkall" ng-checked="acl.checkAllParent == 1" ng-model="acl.selectAll" ng-click="acl.selectAllValues()">
	                                        <label for="checkall">{{ languageArray.selectAll }}</label>
	                                    </div>
	                                </div>
	                            </div>
							
							  	<div class="truck-detail-block" ng-repeat="value in getAction">
                                  	<div class="truck-detail-heading controller-listing" ng-class="{'yellow': value.status == 1}" >
                                    	<div class="check-box-listing-blk">
	                                        <input type="checkbox" ng-checked="value.status == 1 || selectAll == true" ng-click="assignRemove(value.id,$event,value.action,$index)" id="check-{{$index}}">
	                                        <label for="check-{{$index}}">{{ value.name }}</label>
	                                        <p class="content-blk" class="actino-label"> {{ value.description }} </p>  
                                   		</div>
                                	</div>
                           		</div>
                       		</div>
                   		</div>
                	</div>
           		</div>
        	</div>
    </div>
</div>
</div>
<ng-include src="'./assets/templates/common_modals.html'"></ng-include>
